<%= form_for @vidio, :html => { :class => "form-horizontal vidio" } do |f| %>

  <% if @vidio.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@vidio.errors.count, "error") %> prohibited this vidio from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @vidio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :youtube_url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :youtube_url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:youtube_url) %>
  </div>
  <div class="form-group">
    <%= f.label :server_url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :server_url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:server_url) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vidios_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
