<%- model_class = Vidio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @vidio.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:youtube_url) %>:</strong></dt>
  <dd><%= @vidio.youtube_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:server_url) %>:</strong></dt>
  <dd><%= @vidio.server_url %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              vidios_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vidio_path(@vidio), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vidio_path(@vidio),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
