<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title_id %><br>
    <%= f.text_field :title_id %>
  </div>
  <div class="field">
    <%= f.label :title_en %><br>
    <%= f.text_field :title_en %>
  </div>
  <div class="field">
    <%= f.label :content_id %><br>
    <%= f.text_area :content_id %>
  </div>
  <div class="field">
    <%= f.label :content_en %><br>
    <%= f.text_field :content_en %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
