<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service.title_id %>
</p>

<p>
  <strong>Title en:</strong>
  <%= @service.title_en %>
</p>

<p>
  <strong>Content:</strong>
  <%= @service.content_id %>
</p>

<p>
  <strong>Content en:</strong>
  <%= @service.content_en %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @service.slug %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
