<%= form_for @slider, :html => { :class => "form-horizontal slider" } do |f| %>

  <% if @slider.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@slider.errors.count, "error") %> prohibited this slider from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @slider.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image) %>
  </div>
  <div class="form-group">
    <%= f.label :title_en, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title_en, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title_en) %>
  </div>
  <div class="form-group">
    <%= f.label :title_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title_id) %>
  </div>
  <div class="form-group">
    <%= f.label :caption_en, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :caption_en, :class => 'form-control' %>
    </div>
    <%=f.error_span(:caption_en) %>
  </div>
  <div class="form-group">
    <%= f.label :caption_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :caption_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:caption_id) %>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:url) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sliders_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
