<%- model_class = Slider -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:title_en) %></th>
      <th><%= model_class.human_attribute_name(:title_id) %></th>
      <th><%= model_class.human_attribute_name(:caption_en) %></th>
      <th><%= model_class.human_attribute_name(:caption_id) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sliders.each do |slider| %>
      <tr>
        <td><%= link_to slider.id, slider_path(slider) %></td>
        <td><%= slider.image %></td>
        <td><%= slider.title_en %></td>
        <td><%= slider.title_id %></td>
        <td><%= slider.caption_en %></td>
        <td><%= slider.caption_id %></td>
        <td><%= slider.url %></td>
        <td><%=l slider.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_slider_path(slider), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      slider_path(slider),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_slider_path,
            :class => 'btn btn-primary' %>
