<%- model_class = Slider -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= @slider.image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title_en) %>:</strong></dt>
  <dd><%= @slider.title_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title_id) %>:</strong></dt>
  <dd><%= @slider.title_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:caption_en) %>:</strong></dt>
  <dd><%= @slider.caption_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:caption_id) %>:</strong></dt>
  <dd><%= @slider.caption_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @slider.url %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              sliders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_slider_path(@slider), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              slider_path(@slider),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
