@font-face {
  font-family: 'Beyond The Mountains';
  src: url('<%= asset_url('fonts/BeyondTheMountains.woff') %>');
}

body{
  font-family: 'Heebo', sans-serif;
}

a:hover{
  text-decoration: none;
  color: #999;
}

a{
  color: black;
}

section{
  padding: 25px 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.7);
  font-weight: 300;
}

.frame{
  padding: 10px;
  border: 1px solid #dadada;

}
.frame img{

}

.m-logo{
  height: 50px;
  width: auto;
}

section{
  padding: 120px 0 !important;
}

#doctor{
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
}
.schedule .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
#navbar{
  background-color:transparent;
  z-index:9;
  padding:0 10px
}

.scrolled {
  background: #ed213a !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ed213a, #93291e) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ed213a, #93291e) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.box-twitter{
  padding: 20px;
  color:white;
  font-weight: 300;
  position: relative;
  background: #55acee;
}
.box-facebook{
  background: #3a559f;
  padding: 20px;
  color:white;
  font-weight: 300;
  position: relative;
}
.vh25{
  margin-top: 8vh;
}
.box-twitter a , .box-facebook a{
  color:white;
  font-weight: 400;
}

.box-icon{
  position: absolute;
  top:10px;
  right: 10px;
}
.box-icon img{
  width: 40px;
}
 .opacity-1{
   opacity: 1 !important;
 }

 .animated.delay-1s {
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
 }

 .animated.delay-2s {
   -webkit-animation-delay: 1.5s !important;
   animation-delay: 1.5s !important;
 }
 .animated.delay-3s {
   -webkit-animation-delay: 2s !important;
   animation-delay: 2s !important;
 }
 .animated.delay-4s {
   -webkit-animation-delay: 2.5s !important;
   animation-delay: 2.5s !important;
 }
 .animated.delay-5s {
   -webkit-animation-delay: 3s !important;
   animation-delay: 3s !important;
 }

 .animated.delay-6s {
   -webkit-animation-delay: 3.5s;
   animation-delay: 3.5s;
 }

#regis .form-control{
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

#regis .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.6);
  opacity: 1; /* Firefox */
}


#regis .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.6);
}

#ask-dct .form-control{
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

#ask-dct .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.6);
  opacity: 1; /* Firefox */
}


#ask-dct .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.6);
}


ol.series li {
    list-style: decimal-leading-zero;
    font-size: 1.2em;
    margin: 0 0 0 2em;
    font-family: 'Charm', cursive;
    color:#1980cf
}

ol.series li a {
    font-size: 0.7em;
    font-family: 'Heebo', sans-serif;
}
.red-ctr:hover .red-hover{
  border-radius: 50%;
background: rgba(255, 0, 0, 0.49);
}

.article img{
  max-width: 100%;
}

.circle-gradient{
  height: 180px !important;
  width: 180px;display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  background-color: white;
  box-sizing: border-box;
  margin: auto;
  color: darkblue;
  background-clip: padding-box;
  /* !importanté */
  border: solid 5px transparent;
  position: relative;

  /* !importanté */
}

.circle-gradient:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;


  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(to right, red, orange);

}
