

<%= form_for @article, :html => { :class => "" } do |f| %>

<% if @article.errors.any? %>
<div class="panel">
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %>
        prohibited this article from being saved:
      </h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-9">
    <div class="panel">
      <div class="panel-heading">
        Article
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :title_id, "Title in Indonesia", :class => 'control-label ' %>
          <%= f.text_field :title_id, :class => 'form-control' %>
          <%=f.error_span(:title_id) %>
        </div>
        <div class="form-group">
          <%= f.label :content_id, "Content in Indonesia", :class => 'control-label' %>
          <%= f.cktext_area :content_id, :class => 'form-control' %>
          <%=f.error_span(:content_id) %>
        </div>
        <div class="form-group">
          <%= f.label :title_en, "Title in English", :class => 'control-label ' %>
          <%= f.text_field :title_en, :class => 'form-control' %>
          <%=f.error_span(:title_en) %>
        </div>
        <div class="form-group">
          <%= f.label :content_en, "Content in English", :class => 'control-label' %>
          <%= f.cktext_area :content_en, :class => 'form-control' %>
          <%=f.error_span(:content_en) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-heading">
        Featured <b>Image</b>
      </div>
      <div class="panel-body">
        <% unless @article.image.file.nil? %>
          <img src="<%= @article.image.url %>" alt="" width="100%">
        <% end %>
        <div class="file-field input-field">
          <div class="btn teal lighten-1">
            <span>Choose</span>
            <%= f.file_field :image %>
          </div>
          <!-- <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div> -->
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        Article <b>Category</b>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.select :category_id, Category.all.map {|s| [s.title_id, s.id ]},{} , id: "basic", style: "width:100%;", :class=>"form-control",
          :placeholder=>"asuss"%>
          <%=f.error_span(:category_id) %>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        Select <b>Writer</b>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.select :writer_id, Writer.all.map {|s| [s.name, s.id ]},{} , id: "basic", style: "width:100%;", :class=>"form-control",
          :placeholder=>"asuss"%>
          <%=f.error_span(:category_id) %>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        Select <b>Action</b>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="">
            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")), articles_path, :class => 'btn btn-default' %>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<% end %>

<script type="text/javascript">
CKEDITOR.replace("article[content_en]");
</script>
