<%- model_class = Article -%>
<div class="panel">
  <div class="panel-heading" style="display: flex;align-items: center;justify-content: space-between;">
    <h1 style="margin:0;font-weight:500;"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    <%= link_to t('.new', :default => t("helpers.links.new")),new_article_path,:class => 'btn btn-primary' %>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-stripped no-m" id="dataTables">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:title_en) %></th>
          <th><%= model_class.human_attribute_name(:title_id) %></th>
          <th><%= model_class.human_attribute_name(:category_id) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.id, article_path(article) %></td>
          <td><%= article.title_en %></td>
          <td><%= article.title_id %></td>
          <td><%= article.category.try(:title)  %></td>
          <td><%=l article.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_article_path(article), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            article_path(article),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




<script type="text/javascript">
$(document).ready( function () {
  $('#dataTables').DataTable();
} );
</script>
