<section class="vh25">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-4 article">
        <h1><%= @article.title_id %></h1>
        <span><%= @article.category.title_id %></span> | <strong class="date"><%= @article.created_at.strftime("%e %B %Y") rescue "-" %></strong>
        <img src="<%= @article.image %>" alt="" class="w-100 mt-2 mb-2">
        <div class="mt-3">
          <%= @article.content_id.html_safe %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 sticky-top shadow-sm" style=" top:95px;background:white;z-index:8;">
          <h3 style="color:#173958;font-weight:500;">Others Stories</h3>
          <ol class="series pl-3">
            <% Article.where(category_id: @article.category_id).where.not(id: @article.id).limit(5).order(created_at: :desc).each do |x|%>
            <li><a href="<%= article_path(x.id)%>"><%= x.title_id %></a> </li>
            <% end %>
          </ol>



        <hr>

        <h3 style="color:#173958;font-weight:500;">Categories</h3>
        <ol class="series pl-3">
          <% Category.all.each do |x|%>
          <li><a href="<%= category_path(x.id) %>"><%= x.title_id %></a> </li>
          <% end %>
        </ol>
      </div>

      </div>
    </div>
  </div>
</section>
