<%= form_for(@medical_education) do |f| %>
  <% if @medical_education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_education.errors.count, "error") %> prohibited this medical_education from being saved:</h2>

      <ul>
      <% @medical_education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.text_field :doctor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
