<p id="notice"><%= notice %></p>

<h1>Listing Medical Educations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Doctor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_educations.each do |medical_education| %>
      <tr>
        <td><%= medical_education.title %></td>
        <td><%= medical_education.doctor %></td>
        <td><%= link_to 'Show', medical_education %></td>
        <td><%= link_to 'Edit', edit_medical_education_path(medical_education) %></td>
        <td><%= link_to 'Destroy', medical_education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical education', new_medical_education_path %>
