<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @medical_education.title %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @medical_education.doctor %>
</p>

<%= link_to 'Edit', edit_medical_education_path(@medical_education) %> |
<%= link_to 'Back', medical_educations_path %>
