<%- model_class = Consultation -%>
<div class="panel">
  <div class="panel-heading" style="display: flex;align-items: center;justify-content: space-between;">
    <h1 style="margin:0;font-weight:500;"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    <%# link_to t('.new', :default => t("helpers.links.new")),new_registration_path,:class => 'btn btn-primary' %>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-stripped no-m" id="dataTables">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:email) %></th>
          <th><%= model_class.human_attribute_name(:phone) %></th>
          <th><%= model_class.human_attribute_name(:subject) %></th>
          <th><%= model_class.human_attribute_name(:content) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @consultations.each do |consultation| %>
        <tr>
          <td><%= link_to consultation.id, consultation_path(consultation) %></td>
          <td><%= consultation.name %></td>
          <td><%= consultation.email %></td>
          <td><%= consultation.phone %></td>
          <td><%= consultation.subject %></td>
          <td><%= consultation.content %></td>
          <td><%=l consultation.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_consultation_path(consultation), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            consultation_path(consultation),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




<script type="text/javascript">
$(document).ready( function () {
  $('#dataTables').DataTable();
} );
</script>
