<%= form_for @registration, :html => { :class => "form-horizontal registration" } do |f| %>

  <% if @registration.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @registration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :birth_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :birth_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:birth_date) %>
  </div>
  <div class="form-group">
    <%= f.label :phonenumber, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phonenumber, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phonenumber) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :registerd, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :registerd, :class => 'form-control' %>
    </div>
    <%=f.error_span(:registerd) %>
  </div>
  <div class="form-group">
    <%= f.label :id_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :id_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:id_type) %>
  </div>
  <div class="form-group">
    <%= f.label :id_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :id_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:id_number) %>
  </div>
  <div class="form-group">
    <%= f.label :merried, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :merried, :class => 'form-control' %>
    </div>
    <%=f.error_span(:merried) %>
  </div>
  <div class="form-group">
    <%= f.label :gender, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gender, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gender) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :city, :class => 'form-control' %>
    </div>
    <%=f.error_span(:city) %>
  </div>
  <div class="form-group">
    <%= f.label :province, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :province, :class => 'form-control' %>
    </div>
    <%=f.error_span(:province) %>
  </div>
  <div class="form-group">
    <%= f.label :pos_code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pos_code, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pos_code) %>
  </div>
  <div class="form-group">
    <%= f.label :payment_method, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :payment_method, :class => 'form-control' %>
    </div>
    <%=f.error_span(:payment_method) %>
  </div>
  <div class="form-group">
    <%= f.label :insurance_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :insurance_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:insurance_type) %>
  </div>
  <div class="form-group">
    <%= f.label :service, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :service, :class => 'form-control' %>
    </div>
    <%=f.error_span(:service) %>
  </div>
  <div class="form-group">
    <%= f.label :coming_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :coming_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:coming_date) %>
  </div>
  <div class="form-group">
    <%= f.label :message, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :message, :class => 'form-control' %>
    </div>
    <%=f.error_span(:message) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                registrations_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
