<%- model_class = Registration -%>
<div class="panel">
  <div class="panel-heading" style="display: flex;align-items: center;justify-content: space-between;">
    <h1 style="margin:0;font-weight:500;"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    <%= link_to t('.new', :default => t("helpers.links.new")),new_registration_path,:class => 'btn btn-primary' %>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-stripped no-m" id="dataTables">
      <thead>
        <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:service) %></th>
      <th><%= model_class.human_attribute_name(:coming_date) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= link_to registration.id, registration_path(registration) %></td>
        <td><%= registration.name %></td>
        <td><%= registration.service %></td>
        <td><%= registration.coming_date %></td>
        <td><%= registration.message %></td>
        <td><%=l registration.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_registration_path(registration), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      registration_path(registration),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
