<%- model_class = Registration -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @registration.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birth_date) %>:</strong></dt>
  <dd><%= @registration.birth_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phonenumber) %>:</strong></dt>
  <dd><%= @registration.phonenumber %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @registration.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:registerd) %>:</strong></dt>
  <dd><%= @registration.registerd %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id_type) %>:</strong></dt>
  <dd><%= @registration.id_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id_number) %>:</strong></dt>
  <dd><%= @registration.id_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:merried) %>:</strong></dt>
  <dd><%= @registration.merried %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @registration.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @registration.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @registration.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:province) %>:</strong></dt>
  <dd><%= @registration.province %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pos_code) %>:</strong></dt>
  <dd><%= @registration.pos_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_method) %>:</strong></dt>
  <dd><%= @registration.payment_method %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insurance_type) %>:</strong></dt>
  <dd><%= @registration.insurance_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service) %>:</strong></dt>
  <dd><%= @registration.service %></dd>
  <dt><strong><%= model_class.human_attribute_name(:coming_date) %>:</strong></dt>
  <dd><%= @registration.coming_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
  <dd><%= @registration.message %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              registrations_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_registration_path(@registration), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              registration_path(@registration),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
