<p id="notice"><%= notice %></p>

<h1>Listing Professional Memberships</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Doctor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professional_memberships.each do |professional_membership| %>
      <tr>
        <td><%= professional_membership.title %></td>
        <td><%= professional_membership.doctor %></td>
        <td><%= link_to 'Show', professional_membership %></td>
        <td><%= link_to 'Edit', edit_professional_membership_path(professional_membership) %></td>
        <td><%= link_to 'Destroy', professional_membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professional membership', new_professional_membership_path %>
