<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @professional_membership.title %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @professional_membership.doctor %>
</p>

<%= link_to 'Edit', edit_professional_membership_path(@professional_membership) %> |
<%= link_to 'Back', professional_memberships_path %>
