<%= form_for @schedule, :html => { :class => "form-horizontal schedule" } do |f| %>

  <% if @schedule.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :day_en, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :day_en, :class => 'form-control' %>
    </div>
    <%=f.error_span(:day_en) %>
  </div>
  <div class="form-group">
    <%= f.label :day_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :day_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:day_id) %>
  </div>
  <div class="form-group">
    <%= f.label :start, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start, :class => 'form-control' %>
    </div>
    <%=f.error_span(:start) %>
  </div>
  <div class="form-group">
    <%= f.label :close, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :close, :class => 'form-control' %>
    </div>
    <%=f.error_span(:close) %>
  </div>
  <div class="form-group">
    <%= f.label :doctor_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :doctor_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:doctor_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                schedules_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
