<%- model_class = Schedule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:day_en) %>:</strong></dt>
  <dd><%= @schedule.day_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:day_id) %>:</strong></dt>
  <dd><%= @schedule.day_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start) %>:</strong></dt>
  <dd><%= @schedule.start %></dd>
  <dt><strong><%= model_class.human_attribute_name(:close) %>:</strong></dt>
  <dd><%= @schedule.close %></dd>
  <dt><strong><%= model_class.human_attribute_name(:doctor_id) %>:</strong></dt>
  <dd><%= @schedule.doctor_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              schedules_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_schedule_path(@schedule), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              schedule_path(@schedule),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
