<section id="about" class="vh25">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow animated fadeInUp text-center" data-wow-delay="0.5s">

<h1 class="text-white" style="font-size:45px;font-weight: 900;"> <i style="color: #232a46;"> SPORT</i> <i style="color:#1980cf" >CLINIC</i></h1>
        <h1>PREMIER BINTARO</h1>
        <p class="text-justify">
          <span style="font-weight:900;color:#173958"> Sport Clinic RS Premier Bintaro </span>hadir untuk memberikan layanan yang terpadu dan komprehensif untuk penanganan seluruh
          masalah-masalah yang timbul sehubungan dengan aktivitas olahraga. Problem yang ditangani tidak hanya meliputi masalah- masalah yang berkaitan dengan olehraga prestasi (untuk para atlet) saja tetapi juga hal-hal yang berhubungan dengan olahraga rekreasi atau olahraga masyarakat (yang biasa dilakukan sendiri atau di pusat-pusat kebugaran).
        </p>

        <div class="text-left" style="margin-bottom:35px;">
          <p style="margin-bottom:10px;"><span style="font-weight:900;color:#173958;">LAYANAN YANG DIBERIKAN MELIPUTI:</span> </p>
          <ul style="list-style:disc">

            <li>
              <p style="margin-bottom:10px;">
                <span style="font-weight:600;">
                  pengawasan latihan:</span> memberikan pengarahan latihan yang benar dan tepat sesuai dengan kondisi fisik pasien sehingga resiko cedera dapat diminimalkan
                </p>
              </li>
              <li>
                <p style="margin-bottom:10px;">
                  <span style="font-weight:600;">
                    Konsultasi dan pemeriksaan
                  </span>
                  untuk pasien-pasien dengan penyakit jantung, diabetes, asma dan lain-laina agar dapat melakukan aktivitas olahraga dengan aman dan nyaman.
                </p>
              </li>
              <li>
                <p style="margin-bottom:10px;">
                  <span style="font-weight:600;">
                    Pemeriksaan Physical Fitness (kebugaran fisik)
                  </span>
                </p>
              </li>
              <li>
                <p style="margin-bottom:10px;">
                  <span style="font-weight:600;">
                    Konsultasi pengaturan gizi makanan
                  </span>
                </p>
              </li>
              <li>
                <p style="margin-bottom:10px;">
                  <span style="font-weight:600;">
                    Penanganan cedera olahraga
                  </span>
                </p>
              </li>
              <li>
                <p style="margin-bottom:10px;">
                  <span style="font-weight:600;">
                    Program rehabilitasi cedera olaharaga.
                  </span>
                </p>
              </li>

            </ul>
          </div>
          <div class="text-left">
            <span style="font-weight:900;color:#173958">
              PENANGANAN CEDERA OLAHRAGA

            </span> <br><br>
            <div class="row">
              <div class="col-md-6">
                <img src="<%= asset_url('cropped-physical_therapy.jpg') %>" alt="" class="w-100 frame shadow">
              </div>
              <div class="col-md-6">
                <p>

                  Cedera yang sering dialami olah para atlet maupun pelaku olahraga individual bisa berupa trauma akut dan sindrom yang berlarut-larut atau overuse syndrome. <br><br>
                  Penanganan cedera olahraga dapat bersifat non operatif (tidak memerlukan tindakan operasi). Penanganan cedera non operatf bisa berupa pengobatan bagian tubuh yang cedera, pembebatan, kompres dingin atau hangat, pemberian obat-obatan dan menjalani program fisioterapi. <br><br>
                  Pada kasus-kasus tertentu, cedera olahraga harus ditangani melalui tindakan operasi seperti untuk kasus patah tulang dan putusnya urat. Teknik operasi yang digunakan dapat bersifat terbuka atau secara minimal invasif.<br><br>
                  Bedah minimal invasif pada sendi dapat dilakukan dengan menggunakan teknik Arthroscopy. Teknik pembedahan ini melalui luka goresan yang kecil dan menggunakan video kamera yang dimasukkan ke dalam sendi lutut. Dibandingkan dengan teknik yang konvensional, keuntungan dari teknik ini adalah luka operasi yang kecil, diagnosis yang akurat, lebih nyaman, lama perawatan dan masa pemulihan lebih singkat.<br><br>
                </p>
              </div>
            </div>

          </div>
          <div class="text-left">
            <span style="font-weight:900;color:#173958">
              PROGRAM REHABILITASI OLAH RAGA


            </span> <br><br>
            <div class="row">
              <div class="col-md-6">
                habilitasi medik yang mampu memulihkan kemampuan fungsional pasien yang mengalami cedera hingga ketingkatan yang paling optimal.<br><br>
                Penjelasan tentang program yang diberikan bisa memberikan motivasi dan kepercayaan diri sehingga yang bersangkutan tidak larut dalam kecemasan dan segera ambil bagian aktif dalam program rehabilitasi yang dibutuhkannya.
                Dokter spesialis kedokteran fisik dan rehabilitasi akan merancang program latihan baik untuk pasien cedera yang menjalani operasi maupun yang tidak menjalani operasi. Program rehabilitasi harus dirancang dengan baik dan mengikuti waktu penyembuhan jaringan serta dilakukan pengawasan sehingga dapat diperoleh hasil yang maksimal.
              </div>
              <div class="col-md-6">
                <img src="<%= asset_url('main-banner.JPG') %>" alt="" class="w-100 frame shadow">
              </div>
            </div>
            <p>



            </p>
          </div>



        </div>
      </div>
    </div>
  </section>
  <!-- About Section Ends -->
