<!-- hot-news Section Begins -->
<section id="news-list" class="news-list pad-top-120 pad-bottom-120" style="padding-top:170px">
    <div class="container pr">
        <div class="row news">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 news-list-left">
                <div class="n-listing wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="nlist-top video-iframe">
                        <figure>
                            <img src="<%= asset_url('news/img-1.jpg') %>" alt="images" />
                        </figure>
                        <iframe src="https://player.vimeo.com/video/193439463" width="640" height="390" id="work-video-frame"></iframe>
                    </div>
                    <div class="nlist-info">
                        <div class="posted-by">
                            <span>25 . 11 . 2018   </span> <span> by <a href="#">Dr.Sapto Adji</a></span>
                            <span class="badge pull-right">Injured</span>
                        </div>
                        <h4 class="nlist-title"> Chronic Shoulder Instability </h4>
                        <p> The shoulder is the most moveable joint in your body. It helps you to lift your arm, to rotate it, and to reach up over your head. It is able to turn in many directions. This greater range of motion, however, can cause instability.</p>
                        <p> Shoulder instability occurs when the head of the upper arm bone is forced out of the shoulder socket. This can happen as a result of a sudden injury or from overuse. </p>
                        <p> Once a shoulder has dislocated, it is vulnerable to repeat episodes. When the shoulder is loose and slips out of place repeatedly, it is called chronic shoulder instability.</p>
                        <p class="bold"><b style="font-weight:700">Anatomy </b> </p>
                        <div class="">
                          <img src="<%= asset_url('image1.jpg') %>" alt="">
                          <div class="w-100">
                            <small style="font-size:10px;">Normal shoulder anatomy</small>
                          </div>
                        </div>
                        <p> Your shoulder is made up of three bones: your upper arm bone (humerus), your shoulder blade (scapula), and your collarbone (clavicle). </p>
                        <p> The head, or ball, of your upper arm bone fits into a shallow socket in your shoulder blade. This socket is called the glenoid. Strong connective tissue, called the shoulder capsule, is the ligament system of the shoulder and keeps the head of the upper arm bone centered in the glenoid socket. This tissue covers the shoulder joint and attaches the upper end of the arm bone to the shoulder blade. </p>
                        <p> Your shoulder also relies on strong tendons and muscles to keep your shoulder stable.</p>
                        <div class="nlist-bottom">
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="'#" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                    </li>
                                    <li>
                                        <a href="'#" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                                    </li>

                                    <li>
                                        <a href="'#" target="_blank"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a>
                                    </li>
                                    <li>
                                        <a href="'#" target="_blank"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="n-listing n-list-author wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="nlist-top">
                        <figure>
                            <img src="<%= asset_url('doctor-img.png') %>" alt="images" />
                        </figure>
                    </div>
                    <div class="nlist-info">
                        <h5> dr. Sapto Adji H., Sp. OT  </h5> <br>

                        <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                        <div class="nlist-bottom">
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="'#" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                    </li>
                                    <li>
                                        <a href="'#" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                                    </li>
                                    <li>
                                        <a href="'#" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-blog-section wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="blog-comment-main">
                        <div class="blog-comment">
                            <a class="comment-avtar"><img src="http://placehold.it/220x220" alt="image"></a>
                            <div class="comment-text">
                                <p class="blog-date"><a href="#">Colin Ryan</a> Dec 02, 2016  <a href="#addcomment" class="comment-reply inner-link">Reply</a></p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                            </div>
                            <div class="blog-comment clearfix">
                                <a class="comment-avtar"><img src="http://placehold.it/220x220" alt="image"></a>
                                <div class="comment-text">
                                    <p class="blog-date"><a href="#">Sandra Stewart</a> Dec 07, 2016  <a href="#addcomment" class="comment-reply inner-link">Reply</a></p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                </div>
                                <div class="blog-comment clearfix">
                                    <a class="comment-avtar"><img src="http://placehold.it/220x220" alt="image"></a>
                                    <div class="comment-text">
                                        <p class="blog-date"><a href="#">Lillian King</a> Jan 12, 2017  <a href="#addcomment" class="comment-reply inner-link">Reply</a></p>
                                        <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-comment">
                            <a class="comment-avtar"><img src="http://placehold.it/220x220" alt="image"></a>
                            <div class="comment-text">
                                <p class="blog-date"><a href="#">Rose Taylor</a> Jan 22, 2017  <a href="#addcomment" class="comment-reply inner-link">Reply</a></p>
                                <p> Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
                            </div>
                        </div>
                    </div>
                    <div id="addcomment" class="blog-comment-form-main">
                        <div class="blog-comment-form">
                            <form>
                                <div class="form-Box">
                                    <input type="text" placeholder="Name" class="b_effect" />
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                                <div class="form-Box">
                                    <input type="text" placeholder="Email" class="b_effect" />
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                                <div class="form-Box">
                                    <textarea placeholder="Message" class="b_effect"></textarea>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                                <div class="form-Box">
                                    <input type="button" value="Send Comment" class="fill-btn" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sidebar">
                <div class="widget widget_search wow animated fadeInUp" data-wow-delay="0.5s">
                    <h5 class="widget-title">FIND MORE NEWS </h5>
                    <form>
                        <input type="text" placeholder="Enter Your Search Keyword">
                        <button type="button" class="search-submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="widget widget_recent_entries wow animated fadeInUp" data-wow-delay="0.5s">
                    <h5 class="widget-title">Recent Posts</h5>
                    <ul>
                        <li>
                            <img src="http://placehold.it/102x102" alt="img">
                            <div class="bpost">
                                <h5> <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit... </a> </h5>
                            </div>
                        </li>
                        <li>
                            <img src="http://placehold.it/102x102" alt="img">
                            <div class="bpost">
                                <h5><a href="#"> Duis aute irure dolor in reprehenderit </a></h5>
                            </div>
                        </li>
                        <li>
                            <img src="http://placehold.it/102x102" alt="img">
                            <div class="bpost">
                                <h5><a href="#"> sed do eiusmod tempor incididunt ut labore et dolore </a> </h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="widget widget_tag_cloud wow animated fadeInUp" data-wow-delay="0.5s">
                    <h5 class="widget-title">FEATURED Tags</h5>
                    <div class="tagcloud">
                        <a href="#" class="tag-link">Fitness</a>
                        <a href="#" class="tag-link">Gym</a>
                        <a href="#" class="tag-link">Yoga</a>
                        <a href="#" class="tag-link">Offers</a>
                        <a href="#" class="tag-link">Shedule</a>
                        <a href="#" class="tag-link">Plans</a>
                        <a href="#" class="tag-link">Injured</a>
                        <a href="#" class="tag-link">Accessories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hot-news Section Ends -->
