<section id="regis" class="pt-5 mt-5" style="background:rgba(0, 0, 0, 0) url(<%= asset_url('OE9TU70.jpg') %>) no-repeat fixed 0 / cover"  >
  <div class="container">
    <div class="wow animated fadeInUp text-center mt-5" data-wow-delay="0.5s">
      <h1 class="text-white" style="font-size:45px;font-weight: 900;"> <i style="color: #232a46;"> Ask</i> <i style="color:#1980cf" >Doctor</i></h1>
    </div>
    <p class="text-center"></p>
    <div class="" >
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
          <div class="p-3 shadow" style="background-color:rgba(255, 255, 255, 0.8);">
            <%= form_for @consultation, :html => { :class => "form-horizontal consultation" } do |f| %>
              <div class="row mb-3">
                <div class="col-lg-6 col-md-6 col-sm-12 ">
                  <%= f.text_field :name, :class => 'required form-control' ,placeholder: "Fullname" %>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ">
                  <%= f.text_field :phone, :class => 'required form-control' ,placeholder: "Phone Number" %>
                </div>
              </div>

              <div class="row mb-3">

                <div class="col-lg-12 col-md-6 col-sm-12 mb-3 ">
                  <%= f.email_field :email, :class => 'required form-control' ,placeholder: "Email" %>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12 mb-3 ">
                  <%= f.email_field :email, :class => 'required form-control' ,placeholder: "Birth Date" %>
                </div>
                <div class="col-md-12">
                  <span>Gender</span>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="sudah" checked onclick="nikah(this);">
                      <label class="form-check-label" for="gridRadios1">
                        Man
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="belum" onclick="nikah(this);">
                      <label class="form-check-label" for="gridRadios2">
                        Woman
                      </label>
                    </div>

                  </div>
                </div>

                <div class="col-lg-12 col-md-6 col-sm-12 ">
                  <%= f.text_field :subject, :class => 'required form-control' ,placeholder: "Subject" %>
                </div>
              </div>

              <div class="row mb-3">
                <div class=" col-lg-12 col-md-12 col-sm-12">
                  <%= f.text_area :content, :class => 'required form-control', rows: 7 , placeholder: "Your Question"%>

                </div>
              </div>


              <div class="row">
                <div class="col-sm-12">
                  <%= f.submit "Submit", :class => 'btn btn-primary' %>
                </div>

              </div>

            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
