
<section id="regis" class=" pt-5" style="background:rgba(0, 0, 0, 0) url(<%= asset_url('OE9TU70.jpg') %>) no-repeat fixed 0 / cover"  >
  <div class="container">
    <div class="wow animated fadeInUp text-center mt-5" data-wow-delay="0.5s">
      <h1 class="text-white" style="font-size:45px;font-weight: 900;"> <i style="color: #232a46;"> Contact</i> <i style="color:#1980cf" >Us</i></h1>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-md-7">
        <div class="p-3 shadow" style="background-color:rgba(255, 255, 255, 0.8);">


        <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>

          <% if @contact.errors.any? %>
            <div id="error_expl" class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
              </div>
              <div class="panel-body">
                <ul>
                <% @contact.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :email, :class => 'control-label col-lg-2' %>
            <div class="col-lg-12">
              <%= f.text_field :email, :class => 'form-control' %>
            </div>
            <%=f.error_span(:email) %>
          </div>
          <div class="form-group">
            <%= f.label :fullname, :class => 'control-label col-lg-2' %>
            <div class="col-lg-12">
              <%= f.text_field :fullname, :class => 'form-control' %>
            </div>
            <%=f.error_span(:fullname) %>
          </div>
          <div class="form-group">
            <%= f.label :address, :class => 'control-label col-lg-2' %>
            <div class="col-lg-12">
              <%= f.text_field :address, :class => 'form-control' %>
            </div>
            <%=f.error_span(:address) %>
          </div>
          <div class="form-group">
            <%= f.label :phone_number, :class => 'control-label col-lg-12' %>
            <div class="col-lg-12">
              <%= f.text_field :phone_number, :class => 'form-control' %>
            </div>
            <%=f.error_span(:phone_number) %>
          </div>
          <div class="form-group">
            <%= f.label :message, :class => 'control-label col-lg-2' %>
            <div class="col-lg-12">
              <%= f.text_area :message, :class => 'form-control' , row: 10%>
            </div>
            <%=f.error_span(:message) %>
          </div>

          <div class="row">
            <div class="form-group col-md-6 pl-3 pr-0 ">
              <%= f.label :city, :class => 'control-label col-lg-2' %>
              <div class="col-lg-12">
                <%= f.text_field :city, :class => 'form-control' %>
              </div>
              <%=f.error_span(:city) %>
            </div>
            <div class="form-group col-md-6 pl-0 pr-3">
              <%= f.label :province, :class => 'control-label col-lg-2' %>
              <div class="col-lg-12">
                <%= f.text_field :province, :class => 'form-control' %>
              </div>
              <%=f.error_span(:province) %>
            </div>
          </div>


          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-12">
              <%= f.submit "Submit", :class => 'btn btn-primary' %>

            </div>
          </div>

        <% end %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="p-3 shadow" style="background-color:rgba(255, 255, 255, 0.8);">
          <h4>If the form beside does not cover your needs, please don't hesitate to contact us via:</h4>
          <ul>
            <li>
              <a href="whatsapp://send?text=Hallo%20%2ARS%20Premier%20Bintaro%2A%2C%0D%0A%0D%0ASaya%20ingin%20mendaftar%20untuk%20berobat%2E%0D%0A%0D%0A%2AInfomasi%20Pasien%2A%20%3A%0D%5F%5BMohon%20dilengkapi%20informasi%20berikut%5D%5F%0D%0A%0D%0ANama%5FPasien%23%0D%0ATgl%5FLahir%28dd%2Fmm%27yyyy%29%23%0D%0ANama%5FDokter%23%0D%0ASpecialist%5FDokter%23%0D%0ATgl%5Fberobat%28dd%2Fmm%2Fyyyy%29%23%0D%0AJam%5Fberobat%28format%2024%20jam%29%23%0D%0AJenis%5FPembayaran%28pribadi%2Fasuransi%29%23%0D%0AAlamat%5Frumah%23%0D%0A%0D%0A&phone=+6281315779799"> <strong>Whatsapp: </strong> 0817777742</a>
            </li>
            <li>
              <a href="#">
                <a href="#"><strong>Phone Number: </strong> 021-2762 5500 ext. 3338/1000 </a>
              </a>
            </li>
            <li>
              <a href="mailto:rspremier.bintaro@ramsayhealth.co.id" ><strong>Email:</strong> rspremier.bintaro@ramsayhealth.co.id</a>
            </li>
          </ul>
          <p><strong>Sport Clinic RS Premier Bintaro</strong> <br>
            RS Premier Bintaro lantai 2 Jl. MH Thamrin no.1 Sektor 7 Bintaro Jaya <br>
            Tangerang selatan </p>
        </div>
        <div class="mt-5 p-3 shadow" style="background-color:rgba(255, 255, 255, 0.8);">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15863.627173813731!2d106.7238393!3d-6.2759845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16e70da449c852cf!2sRS+Premier+Bintaro+-Kulit+dan+Kelamin!5e0!3m2!1sen!2sid!4v1558931264543!5m2!1sen!2sid" width="100%" height="327" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
