<section id="about" class="about  pt-5" style="background:white">
  <div class="container">
    <div class="row no-margin" style="display:flex;align-items:center;">
      <div class="col-lg-9 col-md-7 col-sm-12 col-xs-12 wow animated fadeInLeft" data-wow-delay="0.5s">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="sectionTitle">dr. Sapto Adji H., Sp. OT</h2>
          <p>
          Dr. JefriSukmawan, Sp.OT is a board certified orthopaedic surgeon who is fellowship trained in sports and arthroscopic surgery, with special interest in treatment of shoulder injuries and shoulder reconstruction.
          </p>
          <div class="row">
            <div class="col-md-4 text-right">
              <span style="font-weight:900;text-transform:uppercase">  Speciality</span>
            </div>
            <div class="col-md-1">
              :
            </div>
            <div class="col-md-6 text-left">
              Ortopedi - Knee & Sport Medicine
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-right">
             <span style="font-weight:900">  PLACE/DATE OF BIRTH</span>
            </div>
            <div class="col-md-1">
              :
            </div>
            <div class="col-md-6 text-left">
              Ann Arbor, Michigan USA / November 25,1967
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-right">
             <span style="font-weight:900">  SEX</span>
            </div>
            <div class="col-md-1">
              :
            </div>
            <div class="col-md-6 text-left">
              MALE
            </div>
          </div>
          <div class="row" style="margin-top:25px;">
            <div class="col-md-4 text-right">
             <span style="font-weight:900;text-transform:uppercase">  Social Profile</span>
            </div>
            <div class="col-md-1">
              :
            </div>
            <div class="col-md-6 text-left">
              <div class="social-icons">
                <ul>
                  <li>
                    <a href="'#" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                  </li>
                  <li>
                    <a href="'#" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                  </li>
                  <li>
                    <a href="'#" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <a href="<%= home_path %>#class" class="main-btn">VIEW DOCTOR SCHEDULES</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12 wow animated fadeInLeft" data-wow-delay="0.5s">
        <figure><img src="<%= asset_url('doctor-img.png') %>" alt="image" style="width:100%;" /></figure>
      </div>
    </div>
    <div class="row wow animated fadeInRight" data-wow-delay="0.7s">
      <div class="col-md-8">
        <div class="" style="margin:10px 0">
          <span style="font-weight:900;">General Information</span>
          <div class="" style="border-top:1px solid #201f1f;margin:10px 0">
            <p>
              Dr. JefriSukmawan, Sp.OT is a board certified orthopaedic surgeon who is fellowship trained in sports and arthroscopic surgery, with special interest in treatment of shoulder injuries and shoulder reconstruction. His orthopaedic residency training was completed at the University of Indonesia, in CiptoMangunkusumo Hospital, Jakarta. Dr. JefriSukmawan, Sp.OT furthered his training at the National University of Singapore (in clinical attachment program) and Samsung Medical Center, at Seoul, South Korea (as part of Indonesian Orthopaedic Society of Sport Medicine and Arthroscopy fellowship program). During his residency and fellowship he had the opportunity to work alongside renowned orthopaedic surgeons in Indonesia, Singapore, and South Korea. <br><br>
              His orthopaedic interests include general orthopaedics, minimally invasive surgery, sports conservative and surgical treatmentespecially shoulder arthroscopy and shoulder reconstruction. He is board certified by Indonesian Board of Orthopaedic Surgery. He is a member of the Indonesian Medical Association, Indonesian Orthopaedic Association, and Indonesian Orthopaedic Society of Sport Medicine and Arthroscopy.<br><br>
              Dr. JefriSukmawan, Sp.OT is a warm and lovely person. You will know right after having a discussion with him regarding your injury and its best treatment. He resides in Bintaro with his wife and children. He enjoys spending time with his family, various sports and outdoor activities.
            </p>
          </div>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="" style="margin:10px 0">
          <span style="font-weight:900;">MEDICAL EDUCATION</span>
          <div class="" style="border-top:1px solid #201f1f;margin:10px 0">
            <ol>
              <li>
                Orthopaedic Sport Medicine fellowship of IOSSMA (Indonesian Orthopaedic Society of Sport Medicine and Arthroscopy)
              </li>
              <li>
                (2016-2017) International Orthopaedic Sport Medicine Clinical Attachment, Singapore National University Hospital.
              </li>
              <li>
                (2014) Orthopaedic surgery, Department of Orthopaedic & Traumatology, Medical Faculty, University of Indonesia.
              </li>
              <li>
                (2014) Medical doctor, Medical Faculty, University of Indonesia.
              </li>
              <li>
                (2008) Bachelor of Medicine, Medical Faculty, University of Indonesia.
              </li>
            </ol>
          </div>
          <p></p>
        </div>
        <div class="" style="margin:10px 0">
          <span style="font-weight:900;">PROFESSIONAL MEMBERSHIPS</span>
          <div class="" style="border-top:1px solid #201f1f;margin:10px 0">
            <ol>
              <li>
                Member of Indonesian Orthopaedic Association
              </li>
              <li>
                Member of Indonesian Orthopaedic Society of Sport Medicine & Arthroscopy
              </li>
              <li>
                Member of Indonesian Medical Association
              </li>
            </ol>
          </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about pad-top-120 pad-bottom-120">
  <div class="container">
    <h2 class="sectionTitle">MEET OTHER DOCTOR</h2>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
        <a href="#" data-toggle="modal" data-target="#mdl-sapto">
          <div class="text-center" style="background-color:#dfdfd6;border-radius:5px;">
            <img src="<%= asset_url('doctor/dr.-Harlo.png') %>" alt="" class="width:100%">
            <div class="background-color:white;"style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
              <div class="text-center" style="background-color:white;padding:10px;5px">
                <h4 style="color:#21b207;margin:0;"> dr. Harlo., Sp. OT </h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
        <a href="#" data-toggle="modal" data-target="#mdl-sapto">
          <div class="text-center" style="background-color:#dfdfd6;border-radius:5px;">
            <img src="<%= asset_url('doctor/dr.-anitta.png') %>" alt="" class="width:100%">
            <div class="background-color:white;"style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
              <div class="text-center" style="background-color:white;padding:10px;5px">
                <h4 style="color:#21b207;margin:0;"> dr. Anitta., Sp. OT </h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
        <a href="#" data-toggle="modal" data-target="#mdl-sapto">
          <div class="text-center" style="background-color:#dfdfd6;border-radius:5px;">
            <img src="<%= asset_url('doctor/dr.jefri.png') %>" alt="" class="width:100%">
            <div class="background-color:white;"style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
              <div class="text-center" style="background-color:white;padding:10px;5px">
                <h4 style="color:#21b207;margin:0;"> dr. Jefri </h4>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</section>
