<!-- Box Section Begins -->
<section id="boxes" class="boxes pad-top-30 pad-bottom-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="box box-1">
          <figure>
            <div class="" style="background-image:url('<%= asset_url('news/img-1.jpg') %>');height:250px;background-size:cover;background-position:center;">
            </div>
          </figure>
          <div class="boxInfo" style="padding: 70px 15px;text-align: right;background: rgba(3, 0, 0, 0.7);color: white;right:0;bottom:0;height:100%;">
            <h3>REHABILITASI PROGRAM </h3>
            <p>Rehabilitasi Cedera Olahraga ditangani oleh team Spesialis Kedokteran Fisik dan Rehabilitasi, cedera olahraga ditangani secara komprehensif.</p>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="box box-2">
          <div class="" style="background-image:url('<%= asset_url('banner-img.jpg') %>');height:250px;background-size:cover;background-position:center;">
          </div>
          <div class="boxInfo" style="padding: 70px 15px;text-align: right;background: rgba(3, 0, 0, 0.7);color: white;right:0;bottom:0;height:100%;">
            <h3>BEDAH MINIMAL INVASIVE</h3>
            <p>Teknik operasi bersifat bedah minimal invasice dengan menggunakan teknik arthroscopy, sehingga masa pemulihan lebih cepat.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="box box-3">
          <div class="" style="background-image:url('<%= asset_url('cropped-physical_therapy.jpg') %>');height:250px;background-size:cover;background-position:center;">
          </div>
          <div class="boxInfo" style="padding: 70px 15px;text-align: right;background: rgba(3, 0, 0, 0.7);color: white;right:0;bottom:0;height:100%;">
            <h3>KONSULTASI KESEHATAN ONLINE</h3>
            <p>
              Konsultasikan pemilihan olahraga yang tepat bagi Anda dan penanganan bila terdapat cedera olahraga kepada team ahli kami.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Box Section Ends -->

<!-- About Section Begins -->
<section id="about" class="about pad-top-30 pad-bottom-30" style="background;">
  <div class="container-fluid no-padding">
    <div class="row no-margin" style="display:flex;align-items:center;">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 wow animated fadeInLeft" data-wow-delay="0.5s">
        <figure><img src="<%= asset_url('about_img.png') %>" alt="image" style="width:100%;" /></figure>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 wow animated fadeInLeft" data-wow-delay="0.5s">
        <div class="col-md-10 col-md-offset-1">
          <h6 class="titleTop"> WELCOME TO SPORT CLINIC </h6>
          <h2 class="sectionTitle">WHat Is <span>SPORT CLINIC</span></h2>
          <p class="text-justify"> Sport Clinic RS Premier Bintaro hadir untuk memberikan layanan yang terpadu dan komprehensif untuk penanganan seluruh masalah-masalah yang timbul sehubungan dengan aktivitas olahraga.</p>
          <p class="text-justify"> Problem yang ditangani tidak hanya meliputi masalah-masalah yang berkaitan dengan olehraga prestasi (untuk para atlet) saja tetapi juga hal-hal yang berhubungan dengan olahraga rekreasi atau olahraga masyarakat (yang biasa dilakukan sendiri atau di pusat-pusat kebugaran).</p>
          <div class="text-right">
            <a href="<%= about_path %>" class="main-btn">SELENGKAPNYA</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section Ends -->

<!-- Feature Section Begins -->
<section id="feature" class="feature pad-top-30 pad-bottom-30" style="padding-bottom:0;">
  <div class="container pr">
    <div class="secHead wow fadeInLeft animated" data-wow-delay="0.5s">
      <div class="skewpink">
        <img src="<%= asset_url('rectangle.svg') %>" alt="" style="width:100%;">
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="titleText">
            <h6 class="titleTop">MEET</h6>
            <h2 class="sectionTitle  "><span  style="color:#21b207">OUR DOCTOR</span></h2>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <% Doctor.all.each do |x|%>

        <div class="col-md-3 hvr-bg" style="">
          <a href="<%= doctor_path(x.id) %>">
          <div class="" style="background-color:rgba(0, 0, 0, 0.59); height:100%;width:100%;position:absolute;display:flex;justify-content:center;padding: 0 20px;z-index:99;">
            <div class="text-center" style="bottom: 120px;position: absolute;">
              <p style="font-weight:700;font-size:30px;"> <%= x.name %> </p>
              <p><%= x.title_id %></p>
            </div>
          </div>
          <div class="doctor-bg" style="background-image:url('<%= x.image %>');">

          </div>
          </a>
        </div>
    <% end %>
  </div>
</section>
<!-- Feature Section Ends -->

<!-- Class Section Begins -->
<section id="class" class="class pad-top-30 pad-bottom-30">
  <div class="container pr">
    <div class="secHead wow fadeInLeft animated" data-wow-delay="0.5s">
      <div class="skewpink">
        <img src="http://localhost:3000/assets/rectangle-blue.svg" alt="" style="width:100%;">
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="titleText">
            <h6 class="titleTop">MAKE an APPOINTMENT</h6>
            <h2 class="sectionTitle">DOCTOR <span>SCHEDULE</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp animated" data-wow-delay="0.5s">
      <div class="tabs-header">
        <div id="filters" class="button-group isogrp" data-option-key="filter">
          <button class="button is-checked" data-filter=".sun"><span>Sun</span></button>
          <button class="button" data-filter=".mon"><span>Mon</span></button>
          <button class="button" data-filter=".tue"><span>Tue</span></button>
          <button class="button" data-filter=".wed"><span>Wed</span></button>
          <button class="button" data-filter=".thu"><span>Thu</span></button>
          <button class="button" data-filter=".fri"><span>Fri</span></button>
          <button class="button" data-filter=".sat"><span>Sat</span></button>
          <div class="border-move border"></div>
        </div>
      </div>
      <div id="classbox" class="grid clickable clearfix">
        <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition sun thu">
          <div class="element">
            <div class="blckbox">
              <div class="">
                <h6> 08.00-10.00
                </h6>
              </div>

            </div>
            <img src="<%= asset_url('doctor/dr.sapto.png') %>" alt="" class="max-width:100%">
            <p> dr. Sapto Adji H., Sp. OT  </p>
          </div>
        </div>
        <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition mon sat sun">
          <div class="element">
            <div class="blckbox">
              <h6> 09:00 - 12:00 </h6>
            </div>
            <img src="<%= asset_url('doctor/dr.-Harlo.png') %>" alt="" class="max-width:100%">
            <p> dr. Harlo., Sp. OT  </p>
          </div>
        </div>
        <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition tue fri sat sun">
          <div class="element">
            <div class="blckbox">
              <h6> 09:00 - 12:00 </h6>
            </div>
            <img src="<%= asset_url('doctor/dr.-anitta.png') %>" alt="" class="max-width:100%">
            <p> dr. Anitta., Sp. OT  </p>
          </div>
        </div>
        <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition wed fri ">
          <div class="element">
            <div class="blckbox">
              <h6> 09:00 - 12:00 </h6>
            </div>
            <img src="<%= asset_url('doctor/dr.jefri.png') %>" alt="" class="max-width:100%">
            <p> dr. Sapto Adji H., Sp. OT  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Class Section Ends -->

<!-- Video Section Begins -->
<section id="gallery" class="gallery pad-top-30 pad-bottom-30 " style="">
  <div class="container pr">
    <div class="secHead wow fadeInLeft animated" data-wow-delay="0.5s">
      <div class="skewpink"></div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="titleText">
            <h6 class="titleTop"></h6>
            <h2 class="sectionTitle ">OUR <span style="color:#ffe402">VIDEO</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp animated" data-wow-delay="0.5s">
      <div class="row">
        <div class="col-md-9">
          <div class="video_case">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/JvH4UqlquwM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-3">
          <div class="content" style="height:500px;overflow-y:scroll;">
            <a href="https://www.youtube.com/embed/Fe7ApfFYhXE" class="video-1">
              <img src="https://i.ytimg.com/vi/Fe7ApfFYhXE/hqdefault.jpg" alt="" class="img-responsif" style="margin-bottom:20px;">
            </a>
            <a href="https://www.youtube.com/embed/GoG9KukNB18" class="video-2">
              <img src="https://img.youtube.com/vi/GoG9KukNB18/maxresdefault.jpg" alt="" class="img-responsif" style="margin-bottom:20px;">
            </a>
            <a href="https://www.youtube.com/embed/FAumgErpeU0" class="video-3">
              <img src="https://img.youtube.com/vi/FAumgErpeU0/maxresdefault.jpg" alt="" class="img-responsif" style="margin-bottom:20px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Video Section Ends -->
<!-- news Section Begins -->
<section id="news" class="news products pad-top-30 pad-bottom-30">
  <div class="container pr">
    <div class="secHead wow fadeInLeft animated" data-wow-delay="0.5s">
      <div class="skewpink">
        <img src="<%= asset_url('rectangle-red.svg') %>" alt="" style="width:100%;">
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="titleText">
            <h6 class="titleTop">FIND INSIPIRATION?</h6>
            <h2 class="sectionTitle">Latest <span style="color:red">News</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row wow animated fadeInUp" data-wow-delay="0.5s">
      <div id="owl-news">
        <% Article.all.each do |x| %>
        <div class="item">
          <figure> <img src="<%= x.image %>" alt="images" /> </figure>
          <span style="color:red;font-weight:600;margin-bottom:10px;"><%= x.category.title_id %></span> - <%= x.created_at.strftime("%e %B %Y ") %>
          <h4> <a href="<%= article_path(x.id) %>"> <%= x.title_id %> </a> </h4>
        </div>
        <% end %>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="news-fill-btn">
          <a href="news.html" class="fill-btn">View more article</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- news Section Ends -->

<!-- testimonial Section Begins -->
<section id="testimonial" class="testimonial pad-top-30 pad-bottom-30">
  <div class="testimonialBg parallax"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow animated fadeInUp" data-wow-delay="0.5s">
        <div class="titleText">
          <h6 class="titleTop">Our Clients</h6>
          <h2 class="sectionTitle ">SUCCESS <span>STORIES</span></h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
          <div class="clientSlide">
            <div id="owl-testimonial" class="testimonial-slider">
              <div class="item">
                <img src="http://fitnesspointwptheme.staging7.in/html/images/testImg.png" alt="images" />
                <div class="spacer left">
                  <div class="mask"></div>
                </div>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi t aliquip ex ea commodo consequat. </p>
                <h4> Aena Deo </h4>

              </div>
              <div class="item">
                <img src="http://fitnesspointwptheme.staging7.in/html/images/testImg.png" alt="images" />
                <div class="spacer left">
                  <div class="mask"></div>
                </div>
                <p> In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
                <h4> Tami Flores </h4>

              </div>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial Section Ends -->

<section class="class pad-top-30 pad-bottom-30">
  <div class="container pr">
    <div class="secHead wow fadeInLeft animated" data-wow-delay="0.5s">
      <div class="skewpink">
        <img src="<%= asset_url('rectangle.svg') %>" alt="" style="width:100%;">
      </div>
      <div class="row wow fadeInUp animated" data-wow-delay="0.5s">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="titleText">
            <h6 class="titleTop">Find our lastest news</h6>
            <h2 class="sectionTitle  "><span  style="color:#21b207">OUR SOCIAL MEDIA</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5" style="padding-right:0">

          <div class="box-twitter same-hgt">
            <a href="https://twitter.com/PremierBintaro?lang=en">@PremierBintaro</a>
            <br>
            <p>Dr Margareta Arianni from Hand Centre Premier Bintaro Hospital, became a speaker of 2… <a href="https://www.instagram.com/p/BdrTFddDWMS/ ">https://www.instagram.com/p/BdrTFddDWMS/ </a></p>
            <div class="box-icon">
              <img src="<%= asset_url('twt.png') %>" alt="">
            </div>
          </div>


          <div class="box-facebook ">
            <a href="#">@RSPremierBintaro</a>
            <br>
            <p>Dr Margareta Arianni from Hand Centre Premier Bintaro Hospital, became a speaker of 2… <a href="https://www.instagram.com/p/BdrTFddDWMS/ ">https://www.instagram.com/p/BdrTFddDWMS/ </a></p>
            <div class="box-icon">
              <img src="<%= asset_url('fb.png') %>" alt="">
            </div>
          </div>

        </div>
        <div class="col-md-7 " style="background-color: transparent;">
          <div class="">
            <div class="box-icon" style="z-index:3">
              <a href="https://www.instagram.com/rspremierbintaro/">
                <img src="<%= asset_url('insta.png') %>" alt="">
              </a>
            </div>
          </div>

          <div class="row"style="margin:0" id="aus">

          </div>


        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(".video-1, .video-2, .video-3, .video-4, .video-5, .video-6, .video-7, .video-8").on("click", function(event) {
    event.preventDefault();
    $(".video_case iframe").prop("src", $(event.currentTarget).attr("href"));
  });
</script>


<div class="modal fade" id="mdl-sapto" tabindex="-1" role="dialog" aria-labelledby="mdl-saptoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:#225583">
      <div class="modal-header" style="display:block">
        <h5 class="modal-title" id="mdl-saptoLabel" style="color:white;margin:0;font-weight:800;text-transform:uppercase;width:90%;display:inline-block">dr. Sapto Adji H., Sp. OT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <img src="<%= asset_url('doctor/dr.sapto.png') %>" alt="">
          </div>
          <div class="col-md-7">
            <p style="color:white;">
              Merupakan praktisi spesialis bedah tulang yang mengkhususkan diri pada penanganan kasus-kasus cedera yang berkaitan dengan kegiatan olahraga. Berbagai kasus cedera olah raga telah ditangani dan berhasil membantu para pencinta olahraga kembali beraksi di lapangan.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="<%= single_doctor_path %>" class="main-btn">
          Detail
        </a>
      </div>
    </div>
  </div>
</div>



<script>
    $(document).ready(function(){
        $('#aus').socialfeed({
            // INSTAGRAM
            instagram:{
                accounts: ['@1538402401'],  //Array: Specify a list of accounts from which to pull posts
                limit: 6,                                    //Integer: max number of posts to load
                client_id: 'f771dcc38d634e349d30af3df6fc24a1',
                access_token: '1538402401.f771dcc.bcce404ac4b94db281595bd6f2f1a45e'       //String: Instagram client id (optional if using access token)
            },
            template_html: '<div class="col-md-4 " style="padding:0;">{{=it.attachment}}</div>',
            show_media:true,

            // GENERAL SETTINGS
            length:400                                      //Integer: For posts with text longer than this length, show an ellipsis.
        });
    });
</script>
<script type="text/javascript">
$(function() {
  $('.same-hgt').matchHeight({
    byRow: false,

  });
});
</script>
