<section class="p-0">
  <div class="position-relative" style="background-image:url('<%= asset_url('basket-01.png') %>');background-size:cover;background-position:center;height:100vh;">
    <div class=" position-absolute h-100 w-100" style="background-color:rgba(0,0,0,0.3);">
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-md-3 position-relative">
            <img src="<%= asset_url('drjeferiedit2.png') %>" class="animated  	bounceInDown delay-1s"  style="width:70%;position:absolute;bottom:0;" alt="">
          </div>
          <div class="col-md-6 text-center position-relative">
            <div class="position-absolute animated  	bounceInDown delay-3s" style="top:30%;">
              <img src="<%= asset_url('logo alt 4 stroke white.png') %>" style="width:50%;margin:auto;"alt="">
              <h1 class="text-center text-white " style="margin-top: 20px;font-size:50px;font-family: 'Beyond The Mountains', cursive;">Back to The Game</h1>
            </div>

          </div>
          <div class="col-md-3 position-relative">
            <img src="<%= asset_url('drsaptoedit2.png') %>  " class="animated  	bounceInDown delay-2s" style="width:70%;position:absolute;bottom:0;" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<section class=" position-relative" style="background-color:#1308bd;z-index:0">

  <div class="position-absolute w-100" style="top:0;right:0;z-index:-8;">
    <img src="<%= asset_url('new_att/Background tengah.png') %>" alt=""width="100%;">
  </div>
  <div class="w-75 m-auto ">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="text-center">
          <h2 class="text-white mt-5" style="font-size: 30px;font-weight: 300;font-family: 'Beyond The Mountains';">Back To The Games</h2>
          <div class="w-50 m-auto">
            <p class="text-white mb-3 pb-3">
              Adalah prinsip Kami dalam mengupayakan pemain kembali bermain setelah mendapatkan cedera
            </p>
          </div>
          <h3 class="text-white mb-5"><strong>ONE STOP SERVICE PREMIER BINTARO SPORT CLINIC</strong></h3>
        </div>
        <div class="row justify-content-center mb-3 mt-3">
          <div class="col">
            <a href="#">
              <div class="card anime animated" id="srv-1">
                <img class="card-img-top" src="<%= asset_url('service/checkup.jpg') %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title mhtc">Consultation & Assessment</h5>
                  <a href="#" class="btn btn-outline-danger">Readmore</a>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <div class="card anime animated" id="srv-2">
                <img class="card-img-top" src="<%= asset_url('service/diagnostic.jpg') %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title mhtc">Diagnostic</h5>
                  <a href="#" class="btn btn-outline-danger">Readmore</a>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <div class="card anime animated" id="srv-3">
                <img class="card-img-top" src="<%= asset_url('service/surgery.jpg') %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title mhtc">Arthroscopy Surgery</h5>
                  <a href="#" class="btn btn-outline-danger">Readmore</a>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <div class="card anime animated" id="srv-4">
                <img class="card-img-top" src="<%= asset_url('service/rehab.jpg') %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title mhtc">Rehabilitation</h5>
                  <a href="#" class="btn btn-outline-danger">Readmore</a>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <div class="card anime animated" id="srv-5">
                <img class="card-img-top" src="<%= asset_url('service/fitness.jpg') %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title mhtc">Physical Fitness Check up</h5>
                  <a href="#" class="btn btn-outline-danger">Readmore</a>
                </div>
              </div>
            </a>
          </div>


        </div>
      </div>
      <div class="col-md-6 animated anime mt-5" id="about-img">
        <img src="<%=  asset_url('new_att/about.png') %>" alt="" class="w-100 " >
      </div>
      <div class="col-md-6 mb-3 mt-5 ">
        <div class="anime animated" id="about-txt">
          <h1 class="text-white" >TENTANG</h1>
          <h1 class="text-white" style="font-size:45px;font-weight: 900;"> <i > SPORT</i> <i  >CLINIC</i></h1>
          <p class="text-white">
            Sport Clinic RS Premier Bintaro hadir untuk memberikan layanan yang terpadu dan komprehensif untuk penanganan seluruh masalah-masalah yang timbul sehubungan dengan aktivitas olahraga.<br><br>
            Problem yang ditangani tidak hanya meliputi masalah-masalah yang berkaitan dengan olehraga prestasi (untuk para atlet) saja tetapi juga hal-hal yang berhubungan dengan olahraga rekreasi atau olahraga masyarakat (yang biasa dilakukan sendiri atau di pusat-pusat kebugaran).
          </p>
        </div>


      </div>
    </div>
  </div>


</section>
<!-- end about -->

<!-- Doctor -->
<section id="doctors" class="bg-dark  position-relative" style="background-color:white !important;" >
  <img src="<%= asset_url('bannertengah.png') %>" alt="" class="w-100 position-absolute" style="z-index:8;top:0;">

  <div class="container position-relative">
    <div class="section-title text-center mb-3 pt-5">
      <div class="animated anime" id="heading-doctor">
        <h2 class=" mt-3">Meet Our Doctor</h2>

      </div>
      <div class="row">
        <div class="col animated anime   pointer mt-5 pt-5" id="dc01">
          <a href="<%= doctor_path(1) %>" class="d-block red-ctr">
            <div class="frame rounded-circle">
              <div class=" rounded-circle position-relative p-0">
                <div class="red-hover position-absolute w-100 h-100">

                </div>
                <img src="<%= asset_url('doctor-01.png') %>" alt="..." class="rounded-circle  w-100" >
              </div>
            </div>


            <div class="mt-2">
              <h5 class="">dr. Sapto Adji Hardjosworo, Sp.OT</h5>
              <p class="">Orthopedic and sport</p>
            </div>
          </a>
        </div>
        <div class="col animated anime  pointer mt-4 pt-4" id="dc02">
          <a href="<%= doctor_path(2) %>" class="d-block red-ctr">
            <div class="frame rounded-circle">
              <div class=" rounded-circle position-relative p-0">
                <div class="red-hover position-absolute w-100 h-100">

                </div>
                <img src="<%= asset_url('doctor-02.png') %>" alt="..." class="rounded-circle  w-100" >
              </div>
            </div>
            <div class="mt-2">
              <h5 class="">dr. Jefri Sukmawan, Sp.OT</h5>
              <p class="">Sports and Arthroscopic Surgery</p>
            </div>
          </a>
        </div>
        <div class="col animated anime   pointer mt-3 pt-3" id="dc03">
          <a href="<%= doctor_path(3) %>" class="d-block red-ctr">
            <div class="frame rounded-circle">
              <div class=" rounded-circle position-relative p-0">
                <div class="red-hover position-absolute w-100 h-100">

                </div>
                <img src="<%= Doctor.find(3).image %>" alt="..." class="rounded-circle  w-100" >
              </div>
            </div>

            <div class="mt-2">
              <h5 class="">dr. Anitta Florence Stan Paulus, Sp.KFR</h5>
              <p class="">Orthopedic and sport</p>
            </div>
          </a>
        </div>
        <div class="col animated anime  pointer mt-2 pt-2" id="dc04">
          <a href="<%= doctor_path(4) %>" class="d-block red-ctr">
            <div class="frame rounded-circle">
              <div class=" rounded-circle position-relative p-0">
                <div class="red-hover position-absolute w-100 h-100">

                </div>
                <img src="<%= Doctor.find(4).image %>" alt="..." class="rounded-circle  w-100" >
              </div>
            </div>

            <div class="mt-2">
              <h5 class="">dr. Hario Tilarso, Sp.KO, FACSM </h5>
              <p class="">Orthopedic and sport</p>
            </div>
          </a>
        </div>

      </div>
      <div class="schedule " style="display:none;" id="sc01">
        <h3 class="text-white">
          Schedule
        </h3>
        <div class="mt-4 row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">MONDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 14.00 - 17.00
                </div>


              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">TUESDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 09:00  -  12:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 14:00  -  17:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">WEDNESDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 10:00  -  12:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 14:00  -  17:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">THURSDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 09:00  -  12:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 13:00  -  18:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">FRIDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 09:00  -  11:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 14:00  -  17:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">SATURDAY</h5>
                <hr>
                -

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="schedule " style="display:none;" id="sc02">
        <h3 class="text-white">
          Schedule
        </h3>
        <div class="mt-4 row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">MONDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 09:00  -  13:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  19:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">TUESDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 09:00  -  13:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  19:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">WEDNESDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 09:00  -  13:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  19:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">THURSDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 09:00  -  13:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  19:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">FRIDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 09:00  -  13:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  19:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">SATURDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 09:00  -  13:00
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="schedule " style="display:none;" id="sc03">
        <h3 class="text-white">
          Schedule
        </h3>
        <div class="mt-4 row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">MONDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i>   -
                </div>


              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">TUESDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i>   -
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">WEDNESDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i>   -
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">THURSDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  20:00
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">FRIDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i>   -
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">SATURDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 10:00  -  14:00
                </div>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  20:00
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="schedule " style="display:none;" id="sc04">
        <h3 class="text-white">
          Schedule
        </h3>
        <div class="mt-4 row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">MONDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  18:00
                </div>


              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">TUESDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i>   -
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">WEDNESDAY</h5>
                <hr>

                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  18:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">THURSDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i>   -
                </div>


              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">FRIDAY</h5>
                <hr>

                <div class="d-block">
                  <i class="fas fa-clock"></i> 16:00  -  18:00
                </div>

              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">SATURDAY</h5>
                <hr>
                <div class="d-block">
                  <i class="fas fa-clock"></i>  -
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
<!-- end Doctor -->

<!-- news -->
<section id="news" class="position-relative"  style="background: rgba(0, 0, 0, 0) url(<%= asset_url('bg-s.jpg') %>) no-repeat fixed 0 / cover ;">
  <div class="position-absolute w-100 h-100" style="background:rgba(0, 0, 0, 0.7);top:0;">

  </div>
  <div class="position-absolute w-100" style="top:-1px;z-index:2;">
    <img src="<%= asset_url('new_att/white-list.png') %>" alt="" class="w-100 ">
  </div>
  <div class="container position-relative" style="z-index:3">
    <div class="section-title text-center mb-5 mt-5 text-white">
      <h2><i class="fa fa-newspaper-o" aria-hidden="true"></i> Article</h2>
      <h3 style="font-size:20px;c class="mb-0"olor:white">Get Our News and Update</h3>
    </div>
    <div class="row mb-5">
      <% Article.all.order(created_at: :desc).limit(4).each do |x| %>
      <div class="col-md-3">
        <a href="<%= article_path(x.id) %>">
          <div class="card w-100">
            <div class="" style="background-image:url('<%= x.image %>');width:100%;height:180px;background-position:center;background-size:cover">

            </div>

            <div class="card-body">
              <h5 class="mt-0"><%= x.title_id %></h5>
              <p class="card-text">
                <%=  ActionView::Base.full_sanitizer.sanitize(x.content_id).truncate(100) %>
              </p>
            </div>
          </div>
        </a>
      </div>
      <% end %>
    </div>

  </div>
  <div class="container position-relative" style="z-index:3">
    <div class="section-title">
      <div class="mb-3 pt-5 mt-5">
        <h2 class="text-center text-white">Our Video and Gallery</h2>
      </div>
      <div class="video-container">
        <div class="owl-carousel main-videos">
          <div class="item" data-hash="vid-1">
            <video width="100%" height="500" controls poster=" <%=asset_url('Sport Clinic RS Premier Bintaro.jpg')%>">
              <source src="<%= asset_url('Sport Clinic RS Premier Bintaro.mp4') %>" type="video/mp4">

                Your browser does not support the video tag.
              </video>
            </div>
            <div class="item" data-hash="vid-2">
              <video width="100%" height="500" controls poster="<%= asset_url('Tehnik Komprehensif Terkini Atasi Masalah Bahu.jpg') %>">
                <source src="<%= asset_url('Tehnik Komprehensif Terkini Atasi Masalah Bahu.mp4') %>" type="video/mp4">

                  Your browser does not support the video tag.
                </video>
              </div>
              <div class="item" data-hash="vid-3">
                <video width="100%" height="500" controls poster="<%= asset_url('Sport Clinic RS Premier Bintaro (1).jpg') %>">
                  <source src="<%= asset_url('Sport Clinic RS Premier Bintaro (1).mp4') %>" type="video/mp4">

                    Your browser does not support the video tag.
                  </video>

                </div>
                <div class="item" data-hash="vid-4">
                  <video width="100%" height="500" controls poster="<%=  asset_url('ramsay -pidio1.png') %>">
                    <source src="<%= asset_url('ramsay -pidio1.m4v') %>" type="video/mp4">

                      Your browser does not support the video tag.
                    </video>

                  </div>
                  <div class="item" data-hash="vid-5">
                    <video width="100%" height="500" controls poster="<%=  asset_url('ramsay -pidio2.png') %>">
                      <source src="<%= asset_url('ramsay -pidio2.m4v') %>" type="video/mp4">

                        Your browser does not support the video tag.
                      </video>

                    </div>
                    <div class="item" data-hash="vid-6">
                      <video width="100%" height="500" controls poster="<%=  asset_url('ramsay -pidio3.png') %>">
                        <source src="<%= asset_url('ramsay -pidio3.m4v') %>" type="video/mp4">

                          Your browser does not support the video tag.
                        </video>

                      </div>
                      <div class="item" data-hash="vid-7">
                        <video width="100%" height="500" controls poster="<%=  asset_url('ramsay -pidio4.PNG') %>">
                          <source src="<%= asset_url('ramsay -pidio4.m4v') %>" type="video/mp4">

                            Your browser does not support the video tag.
                          </video>

                        </div>
                        <div class="item" data-hash="vid-8">
                          <video width="100%" height="500" controls poster="<%=  asset_url('ramsay -pidio5.PNG') %>">
                            <source src="<%= asset_url('ramsay -pidio5.m4v') %>" type="video/mp4">

                              Your browser does not support the video tag.
                            </video>

                          </div>
                          <div class="item" data-hash="vid-9">
                            <video width="100%" height="500" controls poster="<%=  asset_url('ramsay -pidio6.png') %>">
                              <source src="<%= asset_url('ramsay -pidio6.m4v') %>" type="video/mp4">

                                Your browser does not support the video tag.
                              </video>

                            </div>
                            <div class="item" data-hash="img-1">
                              <img src="<%=  asset_url('image (1).jpg') %>" alt="" class="w-100">

                            </div>
                            <div class="item" data-hash="img-2">
                              <img src="<%=  asset_url('image (2).jpg') %>" alt="" class="w-100">

                            </div>
                            <div class="item" data-hash="img-3">
                              <img src="<%=  asset_url('image (3).jpg') %>" alt="" class="w-100">

                            </div>
                            <div class="item" data-hash="img-4">
                              <img src="<%=  asset_url('image (4).jpg') %>" alt="" class="w-100">

                            </div>
                            <div class="item" data-hash="img-5">
                              <img src="<%=  asset_url('image (5).jpg') %>" alt="" class="w-100">

                            </div>
                            <div class="item" data-hash="img-6">
                              <img src="<%=  asset_url('image (6).jpg') %>" alt="" class="w-100">

                            </div>
                            <div class="item" data-hash="img-7">
                              <img src="<%=  asset_url('image (7).jpg') %>" alt="" class="w-100">

                            </div>


                          </div>

                          <div class="d-block">
                            <div class="owl-carousel thumb-videos">
                              <div class="item"><a href="#vid-1"> <img src="<%=  asset_url('Sport Clinic RS Premier Bintaro.jpg') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#vid-2"> <img src="<%=  asset_url('Tehnik Komprehensif Terkini Atasi Masalah Bahu.jpg') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#vid-3"> <img src="<%=  asset_url('Sport Clinic RS Premier Bintaro (1).jpg') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#vid-4"> <img src="<%=  asset_url('ramsay -pidio1.png') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#vid-5"> <img src="<%=  asset_url('ramsay -pidio2.png') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#vid-6"> <img src="<%=  asset_url('ramsay -pidio3.png') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#vid-7"> <img src="<%=  asset_url('ramsay -pidio4.PNG') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#vid-8"> <img src="<%=  asset_url('ramsay -pidio5.PNG') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#vid-9"> <img src="<%=  asset_url('ramsay -pidio6.png') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#img-1"> <img src="<%=  asset_url('image (1).jpg') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#img-2"> <img src="<%=  asset_url('image (2).jpg') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#img-3"> <img src="<%=  asset_url('image (3).jpg') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#img-4"> <img src="<%=  asset_url('image (4).jpg') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#img-5"> <img src="<%=  asset_url('image (5).jpg') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#img-6"> <img src="<%=  asset_url('image (6).jpg') %>" alt="" class="w-100"></a></div>
                              <div class="item"><a href="#img-7"> <img src="<%=  asset_url('image (7).jpg') %>" alt="" class="w-100"></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="container mt-5 position-relative" style="z-index:3">
                      <div class="text-center">
                        <h2 class="text-white">
                          What They Say
                        </h2>
                      </div>
                      <div class="testi owl-carousel owl-theme">
                        <div class="item">
                          <div class="container">
                            <div class="row justify-content-center">
                              <div class="col-7 text-center">
                                <div class="w-50 m-auto">
                                  <img src="<%= asset_url('Yandi Sofyan Munawar.jpg') %>" alt=" " class="w-100 rounded-circle frame mb-3">
                                </div>
                                <strong><h3 class="text-white" style="font-weight:900;">Yandi Soyan Munawar</h3></strong>
                                <h4 class="text-white"  style="font-size: 18px;">Pesepakbola Profesional</h4>
                                <p class="text-white">

                                  <br><br>
                                  Beberapa waktu lalu Sport Clinic dibawah penanganan dr. Sapto Adji, Sp.OT, melakukan Operasi ACL & Meniscus Repair kepada pesepakbola profesional Indonesia Yandi Sofyan Munawar. Operasi berjalan dengan baik dan lancar, masa pemulihan pasca operasi pun tidak berlangsung lama.

                                </p>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="item">
                          <div class="container">
                            <div class="row justify-content-center">
                              <div class="col-7 text-center">
                                <div class="w-50 m-auto">
                                  <img src="<%= asset_url('Yandi Sofyan Munawar.jpg') %>" alt=" " class="w-100 rounded-circle frame mb-3">
                                </div>
                                <strong><h3 class="text-white" style="font-weight:900;">Yandi Soyan Munawar</h3></strong>
                                <h4 class="text-white"  style="font-size: 18px;">Pesepakbola Profesional</h4>
                                <p class="text-white">

                                  <br><br>
                                  Beberapa waktu lalu Sport Clinic dibawah penanganan dr. Sapto Adji, Sp.OT, melakukan Operasi ACL & Meniscus Repair kepada pesepakbola profesional Indonesia Yandi Sofyan Munawar. Operasi berjalan dengan baik dan lancar, masa pemulihan pasca operasi pun tidak berlangsung lama.

                                </p>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="position-absolute w-100" style="bottom:-10px;">
                      <img src="<%= asset_url('new_att/Group 68.png') %>" alt="" class="w-100 ">
                    </div>

                  </section>
                  <!-- end news  -->





                  <!-- socmed -->
                  <section id="socmed" class="">
                    <div class="section-title text-center">
                      <h2 class="mb-5 ">Social Media</h2>

                      <div class="container">

                        <div class="row">
                          <div class="row">
                            <div class="col-md-5" style="padding-right:0">

                              <div class="box-twitter same-hgt text-left">
                                <a href="https://twitter.com/PremierBintaro?lang=en">@PremierBintaro</a>
                                <br>
                                <p>Dr Margareta Arianni from Hand Centre Premier Bintaro Hospital, became a speaker of 2… <a href="https://www.instagram.com/p/BdrTFddDWMS/ ">https://www.instagram.com/p/BdrTFddDWMS/ </a></p>
                                <div class="box-icon">
                                  <img src="<%= asset_url('twt.png') %>" alt="">
                                </div>
                              </div>


                              <div class="box-facebook text-left">
                                <a href="#">@RSPremierBintaro</a>
                                <br>
                                <p>Dr Margareta Arianni from Hand Centre Premier Bintaro Hospital, became a speaker of 2… <a href="https://www.instagram.com/p/BdrTFddDWMS/ ">https://www.instagram.com/p/BdrTFddDWMS/ </a></p>
                                <div class="box-icon">
                                  <img src="<%= asset_url('fb.png') %>" alt="">
                                </div>
                              </div>

                            </div>
                            <div class="col-md-7 pl-0" style="background-color: transparent;">
                              <div class="">
                                <div class="box-icon" style="z-index:3">
                                  <a href="https://www.instagram.com/rspremierbintaro/">
                                    <img src="<%= asset_url('insta.png') %>" alt="">
                                  </a>
                                </div>
                              </div>

                              <div class="row" style="margin:0" id="feed">

                              </div>


                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </section>
