<div class="" style="position:absolute;top:0;z-index:95;width:100%;">
  <img src="<%= asset_url('banneratas.png') %>" alt="" style="width:100%;">
</div>

<!-- / sticky menu -->

<!-- slider revolution -->

<div class="tp-banner-container" style="margin-top:-10%;">
  <div class="tp-banner-slider">
    <ul>
      <!-- slide revolution -->
      <li data-masterspeed="900" data-transition="crossfade">
        <img src="<%= asset_url('banner-img.jpg') %>" class="rev-slidebg"	data-bgposition="center center"	data-bgfit="cover"data-bgrepeat="no-repeat"	data-kenburns="on" data-duration="9500"	data-ease="Linear.easeNone"	data-scalestart="100"	data-scaleend="110"	data-offsetstart="0 0"data-offsetend="0 0"data-rotatestart="0"data-rotateend="0">
        <div class="tp-caption   font-alt" data-x="['left']" data-hoffset="20" data-y="center" data-voffset="0"  data-width="['400px','250px','200px','150px']" data-height="['auto']" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:1000;" data-start="400" style="background:transparent;">
          <h1 style="font-family:  'Anton', sans-serif;margin-bottom:5px; color:white;font-size:45px;letter-spacing:2px;">
            WELCOME TO
          </h1>
          <img src="<%= asset_url('logo-sp.png') %>" alt=""  style="width:100% !important;">
        </div>
      </li>

    </ul>
  </div>
  <div class="" style="position:absolute;width:100%;z-index:80;bottom:0;">
    <img src="<%= asset_url('bannerbawah.png') %>" alt="" style="width:100%;">
  </div>
</div>

<!-- /slider revolution -->
<!-- page section -->

<section class="page-section" style="background-image:url('images/texture.png'); background-color:white;padding:140px 0;position;relative;">
  <div class="container">
    <div class="row flex" style="align-items:center">
      <div class="col-md-12 col-lg-6">

          <img class="img-border" src="<%= asset_url('main-banner.JPG') %>" data-at2x="<%= asset_url('main-banner.JPG') %>" alt>

      </div>
      <div class="col-md-12 col-lg-6 mt-lg-50" style="padding: 20px;">
        <h3 class=" font-alt" style="color:#222;margin-bottom:10px;">About  <strong style="color:#173958">SPORT CLINIC <br>RS PREMIER BINTARO</strong> </h3>
        <div class="section-text mt-10">
          <p class="white" style="color:#222">Donec lobortis et est id consequat. Nam quam turpis, lobortis in venenas at, condiment ut orci. Nullam et egestas nulla. Nulla gravida ligula et est ultricies tortor. Duis interdum venenatis dictum. Cras id sodales mi. Mauris varius ornare erat eu vehila.
          </p>
        </div>
        <a href="#" class="button button-color-8">Read More</a>
      </div>
    </div>
  </div>
  <div class="" style="position:absolute;width:100%;z-index:90;bottom:-120;">
    <img src="<%= asset_url('list-bawa-2.svg') %>" alt="" style="width:100%;">
  </div>
</section>
<!-- /page section -->

<!-- page section -->


<section class="page-section " style="background-image:url('<%= asset_url('OE9TU70.jpg') %>'); background-size:cover;background-position:center;position:relative;overflow;padding-top:80px;padding-bottom:160px;" id="doctor">
  <div class="" style="background-color:rgba(109, 108, 108, 0.66);position:absolute;height:100%;width:100%;top:0px;">
  </div>
  <div class="container align-center" style="padding-top:80px;">
    <h3 class="section-title bottom-line font-alt">Meet Our Doctor</h3>
    <div class="mb-50">
      <p style="color:white !important;position:relative;">
        <strong>SPORT CLINIC RS PREMIER BINTARO </strong> Doctors Team, Orthopedic Surgeons (Orthopedic Surgeon) and Physicians and Rehabilitation Specialist Doctors, for comprehensive handling of sports injuries.
      </p>
    </div>
    <div class="row mt-30 flex">
      <div class="col-md-4" style="margin-top:40px;" id="ktk-3">
        <div class="shop-container align-center alt-2" style="margin-bottom:15px;">
          <a href="doctor.html" class=" mfp-image">
            <div class="shop-media">
              <div class="shop-img">
                <img src="<%= asset_url('doctor/dr.sapto.png') %>" data-at2x="<%= asset_url('doctor/dr.sapto.png') %>" alt>
              </div>
            </div>
          </a>
          <div class="ktk" id="dct-ktk-3">
            <a href="doctor.html">
              <h3 class="shop-title font-alt" style="color:white">DR. Sapto Adji H, SP.OT</h3>
              <span style="color:white">Ortopedi - Knee & Sport Medicine</span>
            </a> <br>
            <a href="doctor.html" class="button" id="doc1">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin-top:-40px;" id="ktk-2">
        <div class="shop-container align-center alt-2" style="margin-bottom:15px;">

            <div class="shop-media">
              <div class="shop-img">
                <img src="<%= asset_url('doctor/dr.-Harlo.png') %>" data-at2x="<%= asset_url('doctor/dr.-Harlo.png') %>" alt>
              </div>
            </div>

          <div class="ktk" id="dct-ktk-2">
            <a href="doctor.html">
              <h3 class="shop-title font-alt" style="color:white">dr. Hario Tilarso, Sp.KO</h3>
              <span style="color:white">Kesehatan Olahraga</span>
            </a> <br>
            <a href="javascript:void(0)" class="button" id="doc1">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin-top:40px;" id="ktk-1">
        <div class="shop-container align-center alt-2"  style="margin-bottom:15px;">
          <a href="doctor.html">
            <div class="shop-media">
              <div class="shop-img">
                <img src="<%= asset_url('doctor/dr.jefri.png') %>" data-at2x="<%= asset_url('doctor/dr.jefri.png') %>" alt>
              </div>
            </div>
          </a>
          <div class="ktk" id="dct-ktk-1">
            <a href="doctor.html">
              <h3 class="shop-title font-alt" style="color:white">dr. Jefri Sukmawan, Sp.OT</h3>
              <span style="color:white">Ortopedi - Knee & Sport Medicine</span>
            </a> <br>
            <a href="doctor.html" class="button" >Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin-top:-40px;" id="ktk-4">
        <div class="shop-container align-center alt-2" style="margin-bottom:15px;">
          <a href="images/doctor/dr.-anitta.png" class=" mfp-image">
            <div class="shop-media">
              <div class="shop-img">
                <img src="<%= asset_url('doctor/dr.-anitta.png') %>" data-at2x="<%= asset_url('doctor/dr.-anitta.png') %>" alt>
              </div>
            </div>
          </a>
          <div class="ktk" id="dct-ktk-4">
            <a href="doctor.html" >
              <h3 class="shop-title font-alt" style="color:white">dr. Anitta Florence Stans Paulus Sp.KFR</h3>
              <span style="color:white">Rehabilitasi Medis</span> <br>
            </a>
            <a href="javascript:void(0)" class="button" id="doc1">Profile</a>
          </div>
        </div>

      </div>
    </div>
    <div class="sch-bx" style="position:relative;margin-top:15px;display:none;" id="sch-1">
      <div class="row">
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              MONDAY
            </h4>
            <p class="white">
              08.00-10.00 <br>
              13.00-18.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              TUESDAY
            </h4>
            <p class="white">
              08.00-10.00 <br>
              13.00-18.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              WEDNESDAY
            </h3>
            <p class="white">
              09.00-16.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              THURSDAY
            </h4>
            <p class="white">
              08.00-10.00 <br>
              13.00-18.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              FRIDAY
            </h4>
            <p class="white">
              08.00-10.00 <br>
              18.00-20.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              SATURDAY
            </h4>
            <p class="white">
              08.00-10.00
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sch-bx" style="position:relative;margin-top:15px;display:none;" id="sch-2">
      <div class="row">
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              MONDAY
            </h4>
            <p class="white">
              16.00-18.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              TUESDAY
            </h4>
            <p class="white">
              -
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              WEDNESDAY
            </h4>
            <p class="white">
              16.00-18.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              THURSDAY
            </h3>
            <p class="white">
              -
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              FRIDAY
            </h4>
            <p class="white">
              16.00-18.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              SATURDAY
            </h4>
            <p class="white">
              -
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sch-bx" style="position:relative;margin-top:15px;display:none;" id="sch-3">
      <div class="row">
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              MONDAY
            </h4>
            <p class="white">
              10.00-12.00 <br> 14.00-17.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              TUESDAY
            </h4>
            <p class="white">
              09.00-12.00 <br> 14.00-17.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              WEDNESDAY
            </h4>
            <p class="white">
              10.00-12.00 <br> 14.00-17.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              THURSDAY
            </h3>
            <p class="white">
              09.00-12.00 <br> 13.00-18.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              FRIDAY
            </h4>
            <p class="white">
              09.00-11.00 <br> 14.00-17.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              SATURDAY
            </h4>
            <p class="white">
              -
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sch-bx" style="position:relative;margin-top:15px;display:none;" id="sch-4">
      <div class="row">
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              MONDAY
            </h4>
            <p class="white">
              -
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              TUESDAY
            </h4>
            <p class="white">
              -
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              WEDNESDAY
            </h4>
            <p class="white">
              -
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              THURSDAY
            </h3>
            <p class="white">
              17.00-20.00
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              FRIDAY
            </h4>
            <p class="white">
              -
            </p>
          </div>
        </div>
        <div class="col-md-2"style="padding:0;">
          <div class="same-hgt-2" style="border:1px solid white;padding:10px;text-align:left;">
            <h4 class="white" style="margin:0;font-size:20px;font-weight:900;">
              SATURDAY
            </h4>
            <p class="white">
              10.00-13.00 <br>
              16.00-20.00
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="position:absolute;width:100%;z-index:90;bottom:-140px;">
    <img src="<%= asset_url('list-bawa-3.svg') %>" alt="" style="width:100%;">
  </div>
</section>


<section class="page-section" style="background-image:url('<%= asset_url('texture.png') %>'); background-color:white;padding:140px 0 ;">
  <div class="container" style="margin:auto">
    <div class="text-center">
      <h3 class="section-title bottom-line font-alt green">Latest Articles</h3>
    </div>
    <div class="row">
      <div class="col-md-3 hvr-float">
        <div class="card ">
          <div class="">
            <div class="card-image " style="background-image:url('<%= asset_url( 'news/img-3.jpg' )%>');background-size:cover;background-position:center;height:200px;">
            </div>
          </div>
          <div class="card-title title-same-hgt">

            <a href="#">
              Common Shoulder Injuries
            </a>

          </div>
        </div>

      </div>
      <div class="col-md-3 hvr-float">
        <div class="card">
          <div class="">
            <div class="card-image " style="background-image:url(<%= asset_url('news/img-1.jpg') %>);;background-size:cover;background-position:center;height:200px;">
            </div>
          </div>
          <div class="card-title title-same-hgt">

            <a href="#">
              Chronic Shoulder Instability
            </a>

          </div>
        </div>

      </div>
      <div class="col-md-3 hvr-float">
        <div class="card">
          <div class="">
            <div class="card-image " style="background-image:url(<%= asset_url('news/img-2.jpg') %>);background-size:cover;background-position:center;height:200px;">
            </div>
          </div>
          <div class="card-title title-same-hgt">

            <a href="#">
              Rotator Cuff Tears
            </a>

          </div>
        </div>

      </div>
      <div class="col-md-3 hvr-float">
        <div class="card ">
          <div class="">
            <div class="card-image " style="background-image:url(<%= asset_url('news/img-3.jpg') %>);background-size:cover;background-position:center;height:200px;">
            </div>
          </div>
          <div class="card-title title-same-hgt">

            <a href="#">
              Common Shoulder Injuries
            </a>

          </div>
        </div>

      </div>
    </div>
    <div class="text-center" style="margin-top:20px;">
      <a href="#" class="button button-color-6">More</a>
    </div>
  </div>
</section>
<!-- page section -->
<div class="" style="background-image:url('<%= asset_url('texture.png') %>'); background-color:white;background-size: contain;background-repeat: repeat;">
  <section class="page-section " style="background-color: transparent;">
    <div class="" style="position:absolute;width:100%;z-index:90;top:-140px;">
      <img src="<%= asset_url('list-bawa-4.svg') %>" alt="" style="width:100%;">
    </div>
    <div class="container align-center" style=" margin-top:80px;">
      <h3 class="section-title bottom-line font-alt " style="color:#222">Testimonies</span></h3>
      <div class="col-md-10 col-md-offset-1 mb-30">
        <p class="white" style="color:#222">Donec rhoncus diam in lectus finibus, eget ultrices urna commodo. Fusce dignissim lobortis erat, tristique lobortis justo imperdiet at. Aliquam congue orci non pulvinar gravida.</p>
      </div>
      <div class="row mt-30">

        <!-- shop carousel -->

        <div class="slider-1 dots-alt">

          <!-- shop carousel item -->

          <div class="shop-container align-center alt-2">
            <div class="row flex" style="align-items:center;">
              <div class="col-md-5">
                <a href="images/shop/img-1@2x.jpg" class=" mfp-image">
                  <div class="shop-media">
                    <div class="shop-img">
                      <img src="https://static01.nyt.com/images/2017/01/12/well/move/adam-bryant-headshot/adam-bryant-headshot-square320-v2.jpg" data-at2x="images/shop/img-1@2x.jpg" alt>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-7 text-left"  style="padding-left:0">
                <h5 style="margin:0;font-size:25px" class="">Thalia Gorelick</h5>
              </div>
            </div>
            <p style="display:block;display: block; font-size: 16px; margin-top: 15px; padding: 20px;text-align:left" class="">
              <strong style="font-size:16px; color:#222" class="">"</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	<strong style="font-size:16px; color:#222" class="">"</strong>
            </p>

          </div>

          <div class="shop-container align-center alt-2">
            <div class="row flex" style="align-items:center;">
              <div class="col-md-5">
                <a href="images/shop/img-1@2x.jpg" class=" mfp-image">
                  <div class="shop-media">
                    <div class="shop-img">
                      <img src="https://static01.nyt.com/images/2017/01/12/well/move/adam-bryant-headshot/adam-bryant-headshot-square320-v2.jpg" data-at2x="images/shop/img-1@2x.jpg" alt>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-7 text-left"  style="padding-left:0">
                <h5 style="margin:0;font-size:25px" class="">Thalia Gorelick</h5>
              </div>
            </div>
            <p style="display:block;display: block; font-size: 16px; margin-top: 15px; padding: 20px;text-align:left" class="">
              <strong style="font-size:16px; color:#222" class="">"</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	<strong style="font-size:16px; color:#222" class="">"</strong>
            </p>

          </div>

          <div class="shop-container align-center alt-2">
            <div class="row flex" style="align-items:center;">
              <div class="col-md-5">
                <a href="images/shop/img-1@2x.jpg" class=" mfp-image">
                  <div class="shop-media">
                    <div class="shop-img">
                      <img src="https://static01.nyt.com/images/2017/01/12/well/move/adam-bryant-headshot/adam-bryant-headshot-square320-v2.jpg" data-at2x="images/shop/img-1@2x.jpg" alt>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-7 text-left"  style="padding-left:0">
                <h5 style="margin:0;font-size:25px" class="">Thalia Gorelick</h5>
              </div>
            </div>
            <p style="display:block;display: block; font-size: 16px; margin-top: 15px; padding: 20px;text-align:left" class="">
              <strong style="font-size:16px; color:#222" class="">"</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	<strong style="font-size:16px; color:#222" class="">"</strong>
            </p>

          </div>

          <div class="shop-container align-center alt-2">
            <div class="row flex" style="align-items:center;">
              <div class="col-md-5">
                <a href="images/shop/img-1@2x.jpg" class=" mfp-image">
                  <div class="shop-media">
                    <div class="shop-img">
                      <img src="https://static01.nyt.com/images/2017/01/12/well/move/adam-bryant-headshot/adam-bryant-headshot-square320-v2.jpg" data-at2x="images/shop/img-1@2x.jpg" alt>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-7 text-left"  style="padding-left:0">
                <h5 style="margin:0;font-size:25px" class="">Thalia Gorelick</h5>
              </div>
            </div>
            <p style="display:block;display: block; font-size: 16px; margin-top: 15px; padding: 20px;text-align:left" class="">
              <strong style="font-size:16px; color:#222" class="">"</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	<strong style="font-size:16px; color:#222" class="">"</strong>
            </p>

          </div>

          <div class="shop-container align-center alt-2">
            <div class="row flex" style="align-items:center;">
              <div class="col-md-5">
                <a href="images/shop/img-1@2x.jpg" class=" mfp-image">
                  <div class="shop-media">
                    <div class="shop-img">
                      <img src="https://static01.nyt.com/images/2017/01/12/well/move/adam-bryant-headshot/adam-bryant-headshot-square320-v2.jpg" data-at2x="images/shop/img-1@2x.jpg" alt>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-7 text-left"  style="padding-left:0">
                <h5 style="margin:0;font-size:25px" class="">Thalia Gorelick</h5>
              </div>
            </div>
            <p style="display:block;display: block; font-size: 16px; margin-top: 15px; padding: 20px;text-align:left" class="">
              <strong style="font-size:16px; color:#222" class="">"</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	<strong style="font-size:16px; color:#222" class="">"</strong>
            </p>

          </div>



        </div>
      </div>
    </section>

    <!-- /page section -->


    <section class="page-section" style="background-color: transparent;">
      <div class="container">
        <div class="text-center">
          <h3 class="section-title bottom-line font-alt " style="color:#222">Stay Tuned On Our Social Media</h3>
        </div>
        <div class="row">
          <div class="col-md-5" style="padding-right:0">

            <div class="box-twitter same-hgt">
              <a href="https://twitter.com/PremierBintaro?lang=en">@PremierBintaro</a>
              <br>
              <p>Dr Margareta Arianni from Hand Centre Premier Bintaro Hospital, became a speaker of 2… <a href="https://www.instagram.com/p/BdrTFddDWMS/ ">https://www.instagram.com/p/BdrTFddDWMS/ </a></p>
              <div class="box-icon">
                <img src="<%= asset_url('twt.png') %>" alt="">
              </div>
            </div>


            <div class="box-facebook ">
              <a href="#">@RSPremierBintaro</a>
              <br>
              <p>Dr Margareta Arianni from Hand Centre Premier Bintaro Hospital, became a speaker of 2… <a href="https://www.instagram.com/p/BdrTFddDWMS/ ">https://www.instagram.com/p/BdrTFddDWMS/ </a></p>
              <div class="box-icon">
                <img src="<%= asset_url('fb.png') %>" alt="">
              </div>
            </div>

          </div>
          <div class="col-md-7 " style="background-color: transparent;">
            <div class="">
              <div class="box-icon" style="z-index:3">
                <a href="https://www.instagram.com/rspremierbintaro/">
                  <img src="<%= asset_url('insta.png') %>" alt="">
                </a>
              </div>
            </div>

            <div class="row"style="margin:0">
              <div class="col-md-4 same-hgt" style="padding:0;">
                <div class="" style="background-image:url(<%= asset_url('insta1.jpg') %>);background-size:cover;background-position:center;height:100%" >
                </div>
              </div>
              <div class="col-md-4 same-hgt" style="padding:0;">
                <div class="" style="background-image:url(<%= asset_url('insta2.jpg') %>);background-size:cover;background-position:center;height:100%" >
                </div>
              </div>
              <div class="col-md-4 same-hgt" style="padding:0;">
                <div class="" style="background-image:url(<%= asset_url('insta3.jpg') %>);background-size:cover;background-position:center;height:100%" >
                </div>
              </div>
              <div class="col-md-4 same-hgt" style="padding:0;">
                <div class="" style="background-image:url(<%= asset_url('insta4.jpg') %>);background-size:cover;background-position:center;height:100%" >
                </div>
              </div>
              <div class="col-md-4 same-hgt" style="padding:0;">
                <div class="" style="background-image:url(<%= asset_url('insta5.jpg') %>);background-size:cover;background-position:center;height:100%" >
                </div>
              </div>
              <div class="col-md-4 same-hgt" style="padding:0;">
                <div class="" style="background-image:url(<%= asset_url('insta6.jpg') %>);background-size:cover;background-position:center;height:100%" >
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>

    </section>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('.same-hgt').matchHeight({
    byRow: false,

  });
  $('.same-hgt-2').matchHeight({

  });
  $('.title-same-hgt').matchHeight({
    byRow: false,

  });
  $('.shop-container').matchHeight({

  });
});
</script>
<script type="text/javascript">

$("#ktk-1").hover(function(){
  $("#sch-1").show(300);
  $("#dct-ktk-1").show(300);
  $("#sch-2").hide(300);
  $("#dct-ktk-2").hide(300);
  $("#sch-3").hide(300);
  $("#dct-ktk-3").hide(300);
  $("#sch-4").hide(300);
  $("#dct-ktk-4").hide(300);
});
$("#ktk-2").hover(function(){
  $("#sch-1").hide(300);
  $("#dct-ktk-1").hide(300);
  $("#sch-2").show(300);
  $("#dct-ktk-2").show(300);
  $("#sch-3").hide(300);
  $("#dct-ktk-3").hide(300);
  $("#sch-4").hide(300);
  $("#dct-ktk-4").hide(300);
});
$("#ktk-3").hover(function(){
  $("#sch-1").hide(300);
  $("#dct-ktk-1").hide(300);
  $("#sch-2").hide(300);
  $("#dct-ktk-2").hide(300);
  $("#sch-3").show(300);
  $("#dct-ktk-3").show(300);
  $("#sch-4").hide(300);
  $("#dct-ktk-4").hide(300);
});
$("#ktk-4").hover(function(){
  $("#sch-1").hide(300);
  $("#dct-ktk-1").hide(300);
  $("#sch-2").hide(300);
  $("#dct-ktk-2").hide(300);
  $("#sch-3").hide(300);
  $("#dct-ktk-3").hide(300);
  $("#sch-4").show(300);
  $("#dct-ktk-4").show(300);
});

</script>

<script type="text/javascript">
$("body").click(function(){
  $(".ktk").hide(300);
  $(".sch-bx").hide(300);
});
</script>
