<section id="regis" class="pt-5 mt-5" style="background:rgba(0, 0, 0, 0) url(<%= asset_url('OE9TU70.jpg') %>) no-repeat fixed 0 / cover"  >
  <div class="container">
    <div class="wow animated fadeInUp text-center mt-5" data-wow-delay="0.5s">
      <h1 class="text-white" style="font-size:45px;font-weight: 900;"> <i style="color: #232a46;"> Online</i> <i style="color:#1980cf" >Registration</i></h1>
    </div>
    <p class="text-center"></p>
    <div class="" >
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
          <div class="p-3 shadow" style="background-color:rgba(255, 255, 255, 0.8);">
            <%= form_for @registration, :html => { :class => "form-horizontal registration" } do |f| %>

            <% if @registration.errors.any? %>
            <div id="error_expl" class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title"><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <% @registration.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <% end %>
            <div class="row">
              <div class="col-md-6">
                <%= f.label :name, :class => 'control-label col-lg-2 p-0' %>
                <div class="col-lg-12 p-0">
                  <%= f.text_field :name, :class => 'form-control' %>
                </div>
                <%=f.error_span(:name) %>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :email, :class => 'control-label col-lg-2 p-0' %>
                  <div class="col-lg-12 p-0">
                    <%= f.text_field :email, :class => 'form-control' %>
                  </div>
                  <%=f.error_span(:email) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :birth_date, :class => 'control-label col-lg-2 p-0' %>
                  <div class="col-lg-12 p-0">
                    <%= f.text_field :birth_date, :class => 'form-control' %>
                  </div>
                  <%=f.error_span(:birth_date) %>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :phonenumber, :class => 'control-label col-lg-2 p-0' %>
                  <div class="col-lg-12 p-0">
                    <%= f.text_field :phonenumber, :class => 'form-control' %>
                  </div>
                  <%=f.error_span(:phonenumber) %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span>Apakah Sudah Pernah Berobat di RSPB?</span>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="sudah" checked onclick="nikah(this);">
                    <label class="form-check-label" for="gridRadios1">
                      Sudah
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="belum" onclick="nikah(this);">
                    <label class="form-check-label" for="gridRadios2">
                      Belum
                    </label>
                  </div>

                </div>
              </div>
            </div>

            <!-- belum -->

            <div class="" id="belum">
              <div class="form-group">
                <span>Kartu Identitas yang digunakan</span>
                <div class="col-lg-12 p-0">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="id-type" id="id-type1" value="option1" checked>
                    <label class="form-check-label" for="id-type1">
                      KTP
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="id-type" id="id-type2" value="option2">
                    <label class="form-check-label" for="id-type2">
                      SIM
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="id-type" id="id-type3" value="option2">
                    <label class="form-check-label" for="id-type3">
                      Passport
                    </label>
                  </div>
                </div>
                <%=f.error_span(:id_type) %>
              </div>
              <div class="form-group">
                <span>No. Kartu Identittas</span>
                <div class="col-lg-12 p-0">
                  <%= f.text_field :id_number, :class => 'form-control' %>
                </div>
                <%=f.error_span(:id_number) %>
              </div>
              <div class="form-group">
                <span>Status Perkawinan</span>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="merrid" id="merrid" value="option2">
                  <label class="form-check-label" for="merrid">
                    Sudah Menikah
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="merrid" id="merrid2" value="option2">
                  <label class="form-check-label" for="merrid2">
                    Belum Menikah
                  </label>
                </div>
                <%=f.error_span(:merried) %>
              </div>
              <div class="form-group">
                <span>Jenis Kelamin</span>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="jenkel" id="jenkel" value="option2">
                  <label class="form-check-label" for="jenkel">
                    Laki - Laki
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="jenkel" id="jenkel2" value="option2">
                  <label class="form-check-label" for="jenkel2">
                    Perempuan
                  </label>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :address, :class => 'control-label col-lg-2 p-0' %>
                <div class="col-lg-12 p-0">
                  <%= f.text_area :address, :class => 'form-control' %>
                </div>
                <%=f.error_span(:address) %>
              </div>
              <div class="form-group">
                <%= f.label :city, :class => 'control-label col-lg-2 p-0' %>
                <div class="col-lg-12 p-0">
                  <%= f.text_field :city, :class => 'form-control' %>
                </div>
                <%=f.error_span(:city) %>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <%= f.label :province, :class => 'control-label col-lg-2 p-0' %>
                    <div class="col-lg-12 p-0">
                      <%= f.text_field :province, :class => 'form-control' %>
                    </div>
                    <%=f.error_span(:province) %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :pos_code, :class => 'control-label col-lg-10 p-0' %>
                    <div class="col-lg-12 p-0">
                      <%= f.text_field :pos_code, :class => 'form-control' %>
                    </div>
                    <%=f.error_span(:pos_code) %>
                  </div>
                </div>
              </div>
            </div>

            <!-- sudah -->
            <div class="row" id="sudah">
              <div class="col-md-12">
                <div class="form-group">
                  <span>No. Medical Record</span>
                  <div class="col-lg-12 p-0">
                    <%= f.text_field :phonenumber, :class => 'form-control' %>
                  </div>
                  <%=f.error_span(:phonenumber) %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group">
                <span>Jenis Pembayaran</span>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="payment" id="payment" value="self" onclick="insurance(this);" checked>
                  <label class="form-check-label" for="payment">
                    Self-Payment
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="payment" id="payment2" value="2" onclick="insurance(this);">
                  <label class="form-check-label" for="payment2">
                    Asuransi/Perusahaan
                  </label>
                </div>
              </div>
            </div>
            <div class="" id="insurancex" style="display:none !important;">

              <div class="form-group">
                Asuransi/Perusahaan
                <div class="col-lg-12 p-0">
                  <select class="form-control " name="asuransi" aria-invalid="false">
                    <option value="--Pilih--">--Pilih--</option>
                    <option value="ABDA Insurance">ABDA Insurance</option>
                    <option value="Ace Life Insurance">Ace Life Insurance</option>
                    <option value="Ad Medika">Ad Medika</option>
                    <option value="Admedika - Bosowa">Admedika - Bosowa</option>
                    <option value="Admedika - Bumi Putera">Admedika - Bumi Putera</option>
                    <option value="Admedika - CAR">Admedika - CAR</option>
                    <option value="Admedika - Great Eastern">Admedika - Great Eastern</option>
                    <option value="Admedika - Inhealth">Admedika - Inhealth</option>
                    <option value="Admedika - Mitra Maparya">Admedika - Mitra Maparya</option>
                    <option value="Admedika - MNC Life">Admedika - MNC Life</option>
                    <option value="Admedika - Pelita Air Service">Admedika - Pelita Air Service</option>
                    <option value="Admedika ABDA">Admedika ABDA</option>
                    <option value="Admedika ACA Asuransi">Admedika ACA Asuransi</option>
                    <option value="Admedika AIG Life">Admedika AIG Life</option>
                    <option value="Admedika Allianz">Admedika Allianz</option>
                    <option value="Admedika Ass Jiwa Sinar Mas">Admedika Ass Jiwa Sinar Mas</option>
                    <option value="Admedika Asuransi Astra Buana">Admedika Asuransi Astra Buana</option>
                    <option value="Admedika Asuransi Generali">Admedika Asuransi Generali</option>
                    <option value="Admedika AVIVA (d/h Winterthur)">Admedika AVIVA (d/h Winterthur)</option>
                    <option value="Admedika Avrist Insurance">Admedika Avrist Insurance</option>
                    <option value="Admedika AXA Financial">Admedika AXA Financial</option>
                    <option value="Admedika BNI Life">Admedika BNI Life</option>
                    <option value="Admedika Bringin Life">Admedika Bringin Life</option>
                    <option value="Admedika CIU Ins">Admedika CIU Ins</option>
                    <option value="Admedika Common Wealth">Admedika Common Wealth</option>
                    <option value="Admedika Equity">Admedika Equity</option>
                    <option value="Admedika HMO">Admedika HMO</option>
                    <option value="Admedika Jaya Proteksi">Admedika Jaya Proteksi</option>
                    <option value="Admedika Lippo General">Admedika Lippo General</option>
                    <option value="Admedika Manulife">Admedika Manulife</option>
                    <option value="Admedika Megalife">Admedika Megalife</option>
                    <option value="Admedika Pacifik">Admedika Pacifik</option>
                    <option value="Admedika Recapital">Admedika Recapital</option>
                    <option value="Admedika Reliance Ind">Admedika Reliance Ind</option>
                    <option value="Admedika Sinar Mas">Admedika Sinar Mas</option>
                    <option value="Admedika Takaful">Admedika Takaful</option>
                    <option value="Admedika Tugu Mandiri">Admedika Tugu Mandiri</option>
                    <option value="Admedika Wanaartha">Admedika Wanaartha</option>
                    <option value="Agincourt Resources, PT">Agincourt Resources, PT</option>
                    <option value="AIA Financial (d/h AIG Life)">AIA Financial (d/h AIG Life)</option>
                    <option value="Aichi Forging Indonesia">Aichi Forging Indonesia</option>
                    <option value="Airfast Indonesia">Airfast Indonesia</option>
                    <option value="AJ InHealth Indonesia PT">AJ InHealth Indonesia PT</option>
                    <option value="AJ Sinar Mas d/h Eka Life">AJ Sinar Mas d/h Eka Life</option>
                    <option value="AJB Bumi Putra 1912">AJB Bumi Putra 1912</option>
                    <option value="Allianz Life Indonesia">Allianz Life Indonesia</option>
                    <option value="Antam Unit Geomin Jakarta">Antam Unit Geomin Jakarta</option>
                    <option value="Antam Unit PP Logam Mulia">Antam Unit PP Logam Mulia</option>
                    <option value="Asahimas Chemical">Asahimas Chemical</option>
                    <option value="Asih Eka Abadi (SOS)">Asih Eka Abadi (SOS)</option>
                    <option value="Asih Great Eastern Insurance">Asih Great Eastern Insurance</option>
                    <option value="Askes - KJS">Askes - KJS</option>
                    <option value="Askes cab Jakarta Timur">Askes cab Jakarta Timur</option>
                    <option value="Askes JamkesMen/Tama">Askes JamkesMen/Tama</option>
                    <option value="Astra Agro Lestari">Astra Agro Lestari</option>
                    <option value="Astra Daihatsu Motor">Astra Daihatsu Motor</option>
                    <option value="Astra Graphia">Astra Graphia</option>
                    <option value="Astra Honda Motor">Astra Honda Motor</option>
                    <option value="Astra In't (Toyota Auto 2000)">Astra In't (Toyota Auto 2000)</option>
                    <option value="Astra International">Astra International</option>
                    <option value="Astra Otoparts Divisi Nusametal">Astra Otoparts Divisi Nusametal</option>
                    <option value="Astratel">Astratel</option>
                    <option value="Asuransi Astra Buana, PT">Asuransi Astra Buana, PT</option>
                    <option value="Asuransi Bintang">Asuransi Bintang</option>
                    <option value="Asuransi Jaya Proteksi">Asuransi Jaya Proteksi</option>
                    <option value="Asuransi Jiwa Sinarmas MSIG">Asuransi Jiwa Sinarmas MSIG</option>
                    <option value="Asuransi Jiwa Tugu Mandiri">Asuransi Jiwa Tugu Mandiri</option>
                    <option value="Asuransi Recapital, PT">Asuransi Recapital, PT</option>
                    <option value="Aventis Pharma">Aventis Pharma</option>
                    <option value="AVRIST Assurance">AVRIST Assurance</option>
                    <option value="Axa Financial">Axa Financial</option>
                    <option value="Badak NGL">Badak NGL</option>
                    <option value="Bakrie Telekom">Bakrie Telekom</option>
                    <option value="Bank BNI">Bank BNI</option>
                    <option value="Bank BRI">Bank BRI</option>
                    <option value="Bank BTN">Bank BTN</option>
                    <option value="Bank DKI">Bank DKI</option>
                    <option value="Bank Mandiri">Bank Mandiri</option>
                    <option value="Bank Muamalat Indonesia">Bank Muamalat Indonesia</option>
                    <option value="Berlian Sistem Informasi, PT">Berlian Sistem Informasi, PT</option>
                    <option value="Blue Dot">Blue Dot</option>
                    <option value="BNI Life">BNI Life</option>
                    <option value="Bouraq Indonesia Airlines">Bouraq Indonesia Airlines</option>
                    <option value="BP Berau">BP Berau</option>
                    <option value="BP Ind - Jasatama Petroindo">BP Ind - Jasatama Petroindo</option>
                    <option value="BRIngin Life">BRIngin Life</option>
                    <option value="Buana Distrindo (Pepsi Cola)">Buana Distrindo (Pepsi Cola)</option>
                    <option value="Bukit Asam, PT">Bukit Asam, PT</option>
                    <option value="Bumi Resource, PT">Bumi Resource, PT</option>
                    <option value="BUPA International">BUPA International</option>
                    <option value="Cakrawala Andalas Televisi (ANTEVE)">Cakrawala Andalas Televisi (ANTEVE)</option>
                    <option value="Central Asia Raya Insurance (CAR)">Central Asia Raya Insurance (CAR)</option>
                    <option value="Chevron Geothermal Salak">Chevron Geothermal Salak</option>
                    <option value="Chevron Indonesia Company">Chevron Indonesia Company</option>
                    <option value="Chevron Pacific Indonesia">Chevron Pacific Indonesia</option>
                    <option value="Cikarang Listrindo">Cikarang Listrindo</option>
                    <option value="CNOOC SES (Maxus)">CNOOC SES (Maxus)</option>
                    <option value="Commonwealth Life, PT">Commonwealth Life, PT</option>
                    <option value="Credit Suisse">Credit Suisse</option>
                    <option value="Cynergy Care Indonesia">Cynergy Care Indonesia</option>
                    <option value="Danapaints Indonesia">Danapaints Indonesia</option>
                    <option value="Darma Henwa">Darma Henwa</option>
                    <option value="DNP Indonesia, PT">DNP Indonesia, PT</option>
                    <option value="EDS Manufacturing">EDS Manufacturing</option>
                    <option value="Eksport Indonesia Asuransi (ASEI)">Eksport Indonesia Asuransi (ASEI)</option>
                    <option value="Elips - RSIB">Elips - RSIB</option>
                    <option value="Elips - RSMK Klp Gading">Elips - RSMK Klp Gading</option>
                    <option value="EMP Kangean">EMP Kangean</option>
                    <option value="Energi Mega Persada">Energi Mega Persada</option>
                    <option value="Energizer PT">Energizer PT</option>
                    <option value="Enseval Putra Megatrading">Enseval Putra Megatrading</option>
                    <option value="Equity Life (BDNI)">Equity Life (BDNI)</option>
                    <option value="Ethica Industri Farmasi, PT">Ethica Industri Farmasi, PT</option>
                    <option value="FMC">FMC</option>
                    <option value="Frisian Flag">Frisian Flag</option>
                    <option value="Frisian Flag - Klinik Ciracas">Frisian Flag - Klinik Ciracas</option>
                    <option value="FSCM">FSCM</option>
                    <option value="Galva Corporation">Galva Corporation</option>
                    <option value="Garuda Indonesia">Garuda Indonesia</option>
                    <option value="Garuda Mataram Motor">Garuda Mataram Motor</option>
                    <option value="Gaya Motor">Gaya Motor</option>
                    <option value="Geodipa">Geodipa</option>
                    <option value="Gereja Advent Hari Ketujuh">Gereja Advent Hari Ketujuh</option>
                    <option value="Gesa Assistance">Gesa Assistance</option>
                    <option value="Global Assistance (GAMI)">Global Assistance (GAMI)</option>
                    <option value="Global Doctor">Global Doctor</option>
                    <option value="GMC Service">GMC Service</option>
                    <option value="GS Battery Inc.">GS Battery Inc.</option>
                    <option value="Gunung Madu Plantation">Gunung Madu Plantation</option>
                    <option value="Hanken Indonesia">Hanken Indonesia</option>
                    <option value="Harum RS">Harum RS</option>
                    <option value="Hino Indonesia">Hino Indonesia</option>
                    <option value="HMO (Mitra Keluarga Piranti Sehat)">HMO (Mitra Keluarga Piranti Sehat)</option>
                    <option value="HMO RSPJ">HMO RSPJ</option>
                    <option value="Holcim, PT">Holcim, PT</option>
                    <option value="Hutama Karya">Hutama Karya</option>
                    <option value="Inalum">Inalum</option>
                    <option value="Indofood Sukses Makmur">Indofood Sukses Makmur</option>
                    <option value="Indonesia Power">Indonesia Power</option>
                    <option value="Indosat">Indosat</option>
                    <option value="Indosiar">Indosiar</option>
                    <option value="Indoturbine">Indoturbine</option>
                    <option value="Isuzu Astra Motor">Isuzu Astra Motor</option>
                    <option value="Jakarta Int Container Terminal (JICT)">Jakarta Int Container Terminal (JICT)</option>
                    <option value="Jalantol Lingkar Luar Jakarta">Jalantol Lingkar Luar Jakarta</option>
                    <option value="Jaminan Cash">Jaminan Cash</option>
                    <option value="Jasa Marga">Jasa Marga</option>
                    <option value="Jasindo Health Care">Jasindo Health Care</option>
                    <option value="Jiwa Mega Life Ins.">Jiwa Mega Life Ins.</option>
                    <option value="Jiwasraya Insurance">Jiwasraya Insurance</option>
                    <option value="JPK Citra Husada">JPK Citra Husada</option>
                    <option value="JPK Mitra Insani">JPK Mitra Insani</option>
                    <option value="Kalimantan Prima Persada, PT">Kalimantan Prima Persada, PT</option>
                    <option value="Kawasaki Motor Ind, PT">Kawasaki Motor Ind, PT</option>
                    <option value="Komatsu Indonesia">Komatsu Indonesia</option>
                    <option value="Komatsu Marketing &amp; Support Indonesia">Komatsu Marketing &amp; Support Indonesia</option>
                    <option value="Kompas Media Nusantara (Kompas)">Kompas Media Nusantara (Kompas)</option>
                    <option value="Kondur Petroleum">Kondur Petroleum</option>
                    <option value="Krama Yudha Tiga Berlian Motors">Krama Yudha Tiga Berlian Motors</option>
                    <option value="Lippo General Insurance">Lippo General Insurance</option>
                    <option value="Mandiri Inhealth">Mandiri Inhealth</option>
                    <option value="Mane Indonesia, PT">Mane Indonesia, PT</option>
                    <option value="Manulife Indonesia">Manulife Indonesia</option>
                    <option value="McDermott Indonesia">McDermott Indonesia</option>
                    <option value="Medco">Medco</option>
                    <option value="Medco E &amp; P (Exspan Nusantara)">Medco E &amp; P (Exspan Nusantara)</option>
                    <option value="Medika Plaza Klinik">Medika Plaza Klinik</option>
                    <option value="Merck Indonesia">Merck Indonesia</option>
                    <option value="Mitindo Usahasejati">Mitindo Usahasejati</option>
                    <option value="Mitra Keluarga Klp Gading">Mitra Keluarga Klp Gading</option>
                    <option value="Mitsui Sumitomo Ins">Mitsui Sumitomo Ins</option>
                    <option value="MNC Assurance">MNC Assurance</option>
                    <option value="Mutiara Medical Service">Mutiara Medical Service</option>
                    <option value="Nisan Motor Distribusi Indonesia">Nisan Motor Distribusi Indonesia</option>
                    <option value="Nissan Motor">Nissan Motor</option>
                    <option value="Nusantara Regas, PT">Nusantara Regas, PT</option>
                    <option value="Otorita Batam">Otorita Batam</option>
                    <option value="Pageo Utama, PT">Pageo Utama, PT</option>
                    <option value="Pamapersada Nusantara">Pamapersada Nusantara</option>
                    <option value="Pan Pacific Insurance">Pan Pacific Insurance</option>
                    <option value="Panasonic Gobel Indonesia">Panasonic Gobel Indonesia</option>
                    <option value="PDAM Jaya">PDAM Jaya</option>
                    <option value="Perfetti Van Melle, PT">Perfetti Van Melle, PT</option>
                    <option value="Pertamina - EP UBEP Jambi">Pertamina - EP UBEP Jambi</option>
                    <option value="Perusahaan Gas Negara (PGN)">Perusahaan Gas Negara (PGN)</option>
                    <option value="Pesona Khatulistiwa Nusantara">Pesona Khatulistiwa Nusantara</option>
                    <option value="Petrochina (Devon / Santa Fe)">Petrochina (Devon / Santa Fe)</option>
                    <option value="PHE On West Java">PHE On West Java</option>
                    <option value="PLN AJ. Gambir">PLN AJ. Gambir</option>
                    <option value="PLN AJ. Jatinegara">PLN AJ. Jatinegara</option>
                    <option value="PLN AJ. Kebayoran">PLN AJ. Kebayoran</option>
                    <option value="PLN AJ. Kramat Jati">PLN AJ. Kramat Jati</option>
                    <option value="PLN AJ. Tangerang">PLN AJ. Tangerang</option>
                    <option value="PLN AJ. Tanjung Priok">PLN AJ. Tanjung Priok</option>
                    <option value="PLN AP Distribusi Jakarta">PLN AP Distribusi Jakarta</option>
                    <option value="PLN AP. Bandengan">PLN AP. Bandengan</option>
                    <option value="PLN AP. Bintaro">PLN AP. Bintaro</option>
                    <option value="PLN AP. Bulungan">PLN AP. Bulungan</option>
                    <option value="PLN AP. Ciputat">PLN AP. Ciputat</option>
                    <option value="PLN AP. Kebun Jeruk">PLN AP. Kebun Jeruk</option>
                    <option value="PLN AP. Klender">PLN AP. Klender</option>
                    <option value="PLN AP. Marunda">PLN AP. Marunda</option>
                    <option value="PLN AP. Menteng">PLN AP. Menteng</option>
                    <option value="PLN AP. Pasar Minggu">PLN AP. Pasar Minggu</option>
                    <option value="PLN AP. Pondok Kopi">PLN AP. Pondok Kopi</option>
                    <option value="PLN Distribusi Jaya">PLN Distribusi Jaya</option>
                    <option value="PLN Induk Pembangkit &amp; Jaringan">PLN Induk Pembangkit &amp; Jaringan</option>
                    <option value="PLN Jasa &amp; Produksi Unit Produksi Jakarta Klender">PLN Jasa &amp; Produksi Unit Produksi Jakarta Klender</option>
                    <option value="PLN Jasa Enjiniring">PLN Jasa Enjiniring</option>
                    <option value="PLN Jasa Pend &amp; Pelatihan">PLN Jasa Pend &amp; Pelatihan</option>
                    <option value="PLN Jawa Bali Reg Jkt - Banten">PLN Jawa Bali Reg Jkt - Banten</option>
                    <option value="PLN Kantor Pusat">PLN Kantor Pusat</option>
                    <option value="PLN Lain-lain">PLN Lain-lain</option>
                    <option value="PLN LitBang Ketenagalistrikan">PLN LitBang Ketenagalistrikan</option>
                    <option value="PLN Penyaluran &amp; Pengatur Beban">PLN Penyaluran &amp; Pengatur Beban</option>
                    <option value="PLN Sektor Pulo Gadung">PLN Sektor Pulo Gadung</option>
                    <option value="PLN Sertifikasi">PLN Sertifikasi</option>
                    <option value="PPKP Menara Sudirman">PPKP Menara Sudirman</option>
                    <option value="Pratama Mitra Sejati, PT">Pratama Mitra Sejati, PT</option>
                    <option value="Premier Oil Natuna Sea">Premier Oil Natuna Sea</option>
                    <option value="Prudential Life Insurance">Prudential Life Insurance</option>
                    <option value="Reasuransi Internasional">Reasuransi Internasional</option>
                    <option value="Reliance Insurance">Reliance Insurance</option>
                    <option value="RS Asri">RS Asri</option>
                    <option value="RS Bunda">RS Bunda</option>
                    <option value="RS Hermina Jatinegara">RS Hermina Jatinegara</option>
                    <option value="RS Pelabuhan">RS Pelabuhan</option>
                    <option value="RS Pelni">RS Pelni</option>
                    <option value="Sampoerna">Sampoerna</option>
                    <option value="Samsung Electronics">Samsung Electronics</option>
                    <option value="Samudra Indonesia">Samudra Indonesia</option>
                    <option value="Sanwa Presswork Indonesia">Sanwa Presswork Indonesia</option>
                    <option value="Sari Husada">Sari Husada</option>
                    <option value="Semberani Persada Oil">Semberani Persada Oil</option>
                    <option value="Sequislife">Sequislife</option>
                    <option value="Sharp Electronics Indonesia">Sharp Electronics Indonesia</option>
                    <option value="Sinar Mas Insurance">Sinar Mas Insurance</option>
                    <option value="Smart">Smart</option>
                    <option value="Soho Indonesia">Soho Indonesia</option>
                    <option value="Star Energy">Star Energy</option>
                    <option value="Sun Life Indonesia">Sun Life Indonesia</option>
                    <option value="Surveyor Indonesia">Surveyor Indonesia</option>
                    <option value="Takaful Keluarga Insurance">Takaful Keluarga Insurance</option>
                    <option value="Takeda Indonesia">Takeda Indonesia</option>
                    <option value="Taspen">Taspen</option>
                    <option value="TELKOM">TELKOM</option>
                    <option value="Telkomsel">Telkomsel</option>
                    <option value="Timah, PT">Timah, PT</option>
                    <option value="TMS Health Care">TMS Health Care</option>
                    <option value="Total EP Indonesie">Total EP Indonesie</option>
                    <option value="Toyota Astra Motor">Toyota Astra Motor</option>
                    <option value="Toyota Motor Manufacturing Ind">Toyota Motor Manufacturing Ind</option>
                    <option value="Toyota Tsusho Logistic">Toyota Tsusho Logistic</option>
                    <option value="Trakindo Utama">Trakindo Utama</option>
                    <option value="Traktor Nusantara">Traktor Nusantara</option>
                    <option value="Unilever">Unilever</option>
                    <option value="United Tractors">United Tractors</option>
                    <option value="Vanbreda">Vanbreda</option>
                    <option value="VICO Indonesia">VICO Indonesia</option>
                    <option value="WanaArtha Assistance Healthcare">WanaArtha Assistance Healthcare</option>
                    <option value="Wangsa Indra Permana">Wangsa Indra Permana</option>
                    <option value="Waskita Karya">Waskita Karya</option>
                    <option value="West - Hermina">West - Hermina</option>
                    <option value="West - Westerindo">West - Westerindo</option>
                    <option value="Wilmar Group">Wilmar Group</option>
                    <option value="Yankes Garuda">Yankes Garuda</option>
                    <option value="Yayasan Dana THT Kes. Bank Eksim">Yayasan Dana THT Kes. Bank Eksim</option>
                    <option value="Yayasan Sinar Pelangi">Yayasan Sinar Pelangi</option>
                    <option value="YCH Indonesia">YCH Indonesia</option>
                    <option value="YKK BI">YKK BI</option>
                    <option value="YKPBDN">YKPBDN</option>
                    <option value="Zakira Health Care">Zakira Health Care</option>
                    <option value="Lainnya">Lainnya</option>
                  </select>
                </div>
                <%=f.error_span(:insurance_type) %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :service, :class => 'control-label col-lg-2 p-0' %>
              <div class="col-lg-12 p-0">
                <select name="kategori" id="kategori" class="form-control">
                  <option>--Silahkan Pilih Spesialis--</option>
                  <option value="akupuntur"> Akupuntur </option>
                  <option value="anak"> Anak </option>
                  <option value="andrologi"> Andrologi </option>
                  <option value="bedah-anak"> Bedah Anak </option>
                  <option value="bedah-onkologi"> Bedah Onkologi </option>
                  <option value="bedah-ortopedi"> Bedah Ortopedi </option>
                  <option value="bedah-plastik"> Bedah Plastik </option>
                  <option value="bedah-saluran-cerna"> Bedah Saluran Cerna </option>
                  <option value="bedah-saluran-kemih"> Bedah Saluran Kemih </option>
                  <option value="bedah-saraf"> Bedah Saraf </option>
                  <option value="bedah-thoraks"> Bedah Thoraks </option>
                  <option value="bedah-umum"> Bedah Umum </option>
                  <option value="biopsi-jarum-halus"> Biopsi Jarum Halus </option>
                  <option value="forensik"> Forensik </option>
                  <option value="gizi-klinik"> Gizi Klinik </option>
                  <option value="jantung"> Jantung </option>
                  <option value="jiwa"> Jiwa </option>
                  <option value="kebidanan-kandungan"> Kebidanan &amp; Kandungan / Obstetric &amp; Gynaecology </option>
                  <option value="kesehatan-olahraga"> Kesehatan Olahraga </option>
                  <option value="klinik-diabetes"> Klinik Diabetes </option>
                  <option value="kulit-dan-kelamin"> Kulit dan Kelamin </option>
                  <option value="mata"> Mata </option>
                  <option value="ortopedi-hand-bedah-mikro"> Ortopedi - Hand &amp; Bedah Mikro </option>
                  <option value="ortopedi-shoulder-sport-medicine"> Ortopedi - Shoulder &amp; Sport medicine </option>
                  <option value="ortopedi-spine"> Ortopedi - Spine </option>
                  <option value="paru"> Paru </option>
                  <option value="penyakit-dalam"> Penyakit Dalam </option>
                  <option value="psikologi-anak"> Psikologi Anak </option>
                  <option value="saraf"> Saraf </option>
                  <option value="tht"> THT </option>
                  <option value="vascular-center"> Vascular Center </option>
                </select>
              </div>
              <%=f.error_span(:service) %>
            </div>
            <div class="form-group">
              <%= f.label :coming_date, :class => 'control-label col-lg-2 p-0' %>
              <div class="col-lg-12 p-0">
                <%= f.text_field :coming_date, :class => 'form-control' %>
              </div>
              <%=f.error_span(:coming_date) %>
            </div>
            <div class="form-group">
              <%= f.label :message, :class => 'control-label col-lg-2 p-0' %>
              <div class="col-lg-12 p-0">
                <%= f.text_area :message, :class => 'form-control' %>
              </div>
              <%=f.error_span(:message) %>
            </div>

            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <%= f.submit "Buat Pendaftaran", :class => 'btn btn-primary' %>

              </div>
            </div>

            <% end %>
          </div>



        </div>
      </div>
    </div>
  </div>

</section>
