.field_with_errors .form-control{
  border: 1px solid red;
}

th {
  text-transform: uppercase;
  font-size: 12px;
}


.close-btn-container{
  width: 100%;
  display: block;
  text-align: right;
  padding: 10px;
}

.close-btn{
  margin: 20px;
  font-size: 20px;
}

.dl-horizontal dt strong {
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: normal;
}

.btn-xs {
	min-width: 80px;
	margin-bottom: 5px;
}
