<%= form_for(@writer) do |f| %>
  <% if @writer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@writer.errors.count, "error") %> prohibited this writer from being saved:</h2>

      <ul>
      <% @writer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.select :doctor_id, Doctor.all.map {|s| [s.name, s.id ]},{} , id: "basic", style: "width:100%;", :class=>"form-control",
    :placeholder=>"asuss"%>
  </div>
  <div class="field">
    <%= f.label :main %><br>
    <%= f.check_box :main %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
