<p id="notice"><%= notice %></p>

<h1>Listing Writers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Doctor</th>
      <th>Main</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @writers.each do |writer| %>
      <tr>
        <td><%= writer.name %></td>
        <td><%= writer.doctor %></td>
        <td><%= writer.main %></td>
        <td><%= link_to 'Show', writer %></td>
        <td><%= link_to 'Edit', edit_writer_path(writer) %></td>
        <td><%= link_to 'Destroy', writer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Writer', new_writer_path %>
