<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @writer.name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @writer.doctor %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @writer.doctor %>
</p>

<%= link_to 'Edit', edit_writer_path(@writer) %> |
<%= link_to 'Back', writers_path %>
