<div class='nested-fields' style="margin-bottom:10px">
  <div class="form-group">
    <%= f.label :title, :class => 'control-label' %>
    <%= f.text_field :title, :class => 'form-control' %>
    <%=f.error_span(:title) %>
  </div>
    <%= link_to_remove_association "remove task", f, class: "btn btn-danger" %>
  </div>
