<%= form_for @doctor, :html => { :class => " doctor" } do |f| %>

<% if @doctor.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="panel">
      <div class="panel-heading">
        General <b>Info</b>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <%= f.label :name, :class => 'control-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.text_field :name, :class => 'form-control' %>
            </div>
            <%=f.error_span(:name) %>
          </div>
          <div class="form-group">
            <%= f.label  :title_en, "Title in English", :class => 'control-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.text_field :title_en, :class => 'form-control' %>
            </div>
            <%=f.error_span(:title_en) %>
          </div>
          <div class="form-group">
            <%= f.label :title_id, "Title in Indonesia", :class => 'control-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.text_field :title_id, :class => 'form-control' %>
            </div>
            <%=f.error_span(:title_id) %>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-2">Social Media</label>
            <div class="col-lg-10">
              <%= f.text_field :fb, :class => 'form-control', placeholder: "Facebook" , style: "margin-bottom: 15px;"%>
              <%= f.text_field :twitter, :class => 'form-control', placeholder: "Twitter" , style: "margin-bottom: 15px;"%>
              <%= f.text_field :instagram, :class => 'form-control', placeholder: "Instagram" , style: "margin-bottom: 15px;"%>
              <%= f.text_field :youtube, :class => 'form-control', placeholder: "Youtube" , style: "margin-bottom: 15px;"%>
            </div>
            <%=f.error_span(:speciality) %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        About <b>Doctor</b>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label  :mini_desc, "Mini Description", :class => 'control-label' %>

            <%= f.text_area :mini_desc, :class => 'form-control' %>

          <%=f.error_span(:mini_desc) %>
        </div>
        <div class="form-group">
          <%= f.label :desc, "Mini Description in English", :class => 'control-label' %>
          <%= f.cktext_area :desc, :class => 'form-control' %>
          <%=f.error_span(:desc) %>
        </div>
        <div class="form-group">
          <%= f.label  :mini_desc_en, "Title in English", :class => 'control-label' %>

            <%= f.text_area :mini_desc_en, :class => 'form-control' %>

          <%=f.error_span(:mini_desc_en) %>
        </div>
        <div class="form-group">
          <%= f.label :desc_en, "Content in English", :class => 'control-label' %>
          <%= f.cktext_area :desc_en, :class => 'form-control' %>
          <%=f.error_span(:desc_en) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        Featured <b>Image</b>
      </div>
      <div class="panel-body">
        <% unless @doctor.image.file.nil? %>
        <img src="<%= @doctor.image.url %>" alt="" width="100%">
        <% end %>
        <div class="file-field input-field">
          <div class="btn teal lighten-1">
            <span>Choose</span>
            <%= f.file_field :image %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        Medical <b>Education</b>
      </div>
      <div class="panel-body">
        <%= f.fields_for :medical_educations do |medical_education| %>
        <%= render 'medical_education_fields', :f => medical_education %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add medical education', f, :medical_educations, class: "btn btn-success" %>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        Training /  <b>Course</b>
      </div>
      <div class="panel-body">
        <%= f.fields_for :courses do |course| %>
        <%= render 'course_fields', :f => course %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add course', f, :courses, class: "btn btn-success" %>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        Professional <b>Membership</b>
      </div>
      <div class="panel-body">
        <%= f.fields_for :professional_memberships do |professional_membership| %>
        <%= render 'professional_membership_fields', :f => professional_membership %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add professional memberships', f, :professional_memberships, class: "btn btn-success" %>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        Select <b>Action</b>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="">
            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")), doctors_path, :class => 'btn btn-default' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>
