<section id="about" class="vh25" style="background:white">
  <div class="container mt-4">
    <div class="row no-margin" style="display:flex;align-items:center;">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 wow animated fadeInLeft" data-wow-delay="0.5s">

        <h2 class="sectionTitle" style="text-transform:none;"><%= @doctor.name %></h2>
        <p>
          <%= @doctor.mini_desc %>
        </p>
        <span style="font-weight:900;text-transform:uppercase;">  Speciality</span>
        :
        <%= @doctor.title_id %> <br><br>
        <span style="font-weight:900;text-transform:uppercase;">  Schedule </span>
        :
        <table class="table table-hover table-bordered table-striped mt-2">
          <thead>
            <tr>

              <th><a href="#" class="" data-name="types-field-senin" data-direction="asc">Senin<span class="wpv-sorting-indicator"></span></a></th>
              <th><a href="#" class="" data-name="types-field-selasa" data-direction="asc">Selasa<span class="wpv-sorting-indicator"></span></a></th>
              <th><a href="#" class="" data-name="types-field-rabu" data-direction="asc">Rabu<span class="wpv-sorting-indicator"></span></a></th>
              <th><a href="#" class="" data-name="types-field-kamis" data-direction="asc">Kamis<span class="wpv-sorting-indicator"></span></a></th>
              <th><a href="#" class="" data-name="types-field-jumat" data-direction="asc">Jumat<span class="wpv-sorting-indicator"></span></a></th>
              <th><a href="#" class="" data-name="types-field-sabtu" data-direction="asc">Sabtu<span class="wpv-sorting-indicator"></span></a></th>
            </tr>
          </thead>
          <tbody class="wpv-loop js-wpv-loop">
            <tr>

              <td>14.00-17.00</td>
              <td>09.00-12.00 <br> 14.00-17.00</td>
              <td>10.00-12.00 <br> 14.00-17.00</td>
              <td>09.00-12.00 <br> 13.00-18.00</td>
              <td>09.00-11.00 <br> 14.00-17.00</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 wow animated fadeInLeft" data-wow-delay="0.5s">
        <figure><img src="<%= @doctor.image%>" alt="image" style="width:100%;" /></figure>
      </div>
    </div>
    <div class="row wow animated fadeInRight" data-wow-delay="0.7s">
      <div class="col-md-8">
        <div class="" style="margin:10px 0">
          <span style="font-weight:900;">About Doctor <%= @doctor.name %></span>
          <div class="" style="border-top:1px solid #201f1f;margin:10px 0">
            <%= @doctor.desc.html_safe %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="" style="margin:10px 0">
          <span style="font-weight:900;">MEDICAL EDUCATION</span>
          <div class="" style="border-top:1px solid #201f1f;margin:10px 0">
            <ol>
              <% @doctor.medical_educations.each do |x| %>
              <li>
                <%= x.title %>
              </li>
              <% end %>

            </ol>
          </div>
          <p></p>
        </div>
        <div class="" style="margin:10px 0">
          <span style="font-weight:900;">TRAININGS / COURSES</span>
          <div class="" style="border-top:1px solid #201f1f;margin:10px 0">
            <ol>
              <% @doctor.courses.each do |x| %>
              <li>
                <%= x.title %>
              </li>
              <% end %>
            </ol>
          </div>
          <p></p>
        </div>
        <div class="" style="margin:10px 0">
          <span style="font-weight:900;">PROFESSIONAL MEMBERSHIPS</span>
          <div class="" style="border-top:1px solid #201f1f;margin:10px 0">
            <ol>
              <% @doctor.professional_memberships.each do |x| %>
              <li>
                <%= x.title %>
              </li>
              <% end %>
            </ol>
          </div>
          <p></p>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="news" class="news pad-top-120 pad-bottom-120">
  <div class="container">
    <div class="secHead wow fadeInLeft animated" data-wow-delay="0.5s">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="titleText">
            <h6 class="titleTop">Sport Clinic Doctor</h6>
            <h2 class="sectionTitle">Meet Others <span style="color:red">Doctor</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <% Doctor.where.not(id: @doctor).limit(4).each do |x| %>
      <div class="col-md-3 pointer text-center" id="dc01">
        <a href="<%= doctor_path(x.id) %>">
          <img src="<%= x.image %>" alt="<%= x.name %>" class="rounded-circle w-100" >
          <div class="mt-2">
            <h5 class=""><%= x.name %></h5>
            <p class=""><%= x.title_id %></p>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>

</section>
