<%= form_for @category, :html => { :class => "" } do |f| %>

<% if @category.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<div class="panel">
  <div class="panel-heading">
    Setup <b>Category</b>
  </div>
  <div class="panel-body">
    <div class="form-horizontal category">
      <div class="form-group">
        <%= f.label :title_en, "Title in English", :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :title_en, :class => 'form-control' %>
        </div>
        <%=f.error_span(:title_en) %>
      </div>
      <div class="form-group">
        <%= f.label :title_id, "Title in Indonesia", :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :title_id, :class => 'form-control' %>
        </div>
        <%=f.error_span(:title_id) %>
      </div>
    </div>
  </div>
</div>


<div class="panel">
  <div class="panel-heading">
    Select <b>Action</b>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), categories_path, :class => 'btn btn-default' %>
      </div>
    </div>

  </div>
</div>

<% end %>
