<section class="vh25">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1> <span style="color:#173958">Category</span>  <span style="color:#1980cf"><%= @category.title_id %></span></h1>
        <div class="mt-4">
          <div class="card-columns">
            <% Article.where(category_id: @category.id).order(created_at: :desc).each do |x| %>

              <div class="card">
                <img src="<%= x.image %>" class="card-img-top w-100" alt="..." >
                <div class="card-body">
                  <h5 class="card-title"><%= x.title_id %></h5>
                  <p class="card-text"><%=  ActionView::Base.full_sanitizer.sanitize(x.content_id).truncate(100) %></p>
                  <a href="<%= article_path(x.id) %>" class="btn btn-primary">READMORE</a>
                </div>
              </div>

            <% end %>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <h3 style="color:#173958">Top Stories</h3>
        <ol class=" series pl-3">
          <% Article.all.order('random()').limit(5).each do |x|%>
          <li><a href="<%= article_path(x.id)%>"><%= x.title_id %></a> </li>
          <% end %>
        </ol>

        <hr>

        <h3 style="color:#173958">Categories</h3>
        <ol class=" series pl-3">
          <% Category.all.each do |x|%>
          <li><a href="<%= category_path(x.id) %>"><%= x.title_id %></a> </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</section>
