<nav class="main-navigation" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
  <p class="nav-title">MENU</p>
  <ul class="nav">
    <!-- dashboard -->
    <li>
      <a href="<%= dashboard_path %>">
        <i class="ti-home"></i>
        <span>Summary</span>
      </a>
    </li>
    <li>
      <a href="<%= categories_path %>">
        <i class="ti-server"></i>
        <span>Category</span>
      </a>
    </li>
    <li>
      <a href="<%= articles_path %>">
        <i class="ti-server"></i>
        <span>Article</span>
      </a>
    </li>
    <li>
      <a href="<%= registrations_path %>">
        <i class="ti-server"></i>
        <span>Registration</span>
      </a>
    </li>
    <li>
      <a href="<%= consultations_path %>">
        <i class="ti-server"></i>
        <span>Consultation</span>
      </a>
    </li>
    <li>
      <a href="<%= doctors_path %>">
        <i class="ti-server"></i>
        <span>Doctors</span>
      </a>
    </li>
    <li>
      <a href="<%= vidios_path %>">
        <i class="ti-server"></i>
        <span>Videos</span>
      </a>
    </li>
  </ul>
</nav>
