<!DOCTYPE html>
<html class="no-js"  lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Ramsey Dashboard" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>



</head>
<body>
  <div class="app" id="mobile-nav">
    <!-- top header -->
    <header class="header header-fixed navbar">

      <div class="brand">
        <!-- toggle offscreen menu -->
        <a href="javascript:;" class="ti-menu off-left visible-xs" data-toggle="offscreen" data-move="ltr" style="z-index:9999;"></a>
        <!-- /toggle offscreen menu -->

        <!-- logo -->
        <a href="<%= root_path %>" class="navbar-brand">
          <img style="max-height: 40px" src="<%= asset_url ('logo-sp.png') %>" alt="">
          <span class="heading-font">
          </span>
        </a>
        <!-- /logo -->
      </div>

      <ul class="nav navbar-nav navbar-right">

        <!-- <li class="dropdown hidden-xs">
          <a href="javascript:;" data-toggle="dropdown">
            <i class="ti-more-alt"></i>
          </a>
          <ul class="dropdown-menu animated zoomIn">
            <li class="dropdown-header">Menu</li>
            <li>
              <a href="#">Broadcast Message</a>
            </li>
          </ul>
        </li> -->



        <li class="off-right">
          <a href="javascript:;" data-toggle="dropdown">
            <img src="<%= asset_url ('avatar.jpg') %>" class="header-avatar img-circle" alt="user" title="user">
            <span class="hidden-xs ml10">ADMIN</span>
            <i class="ti-angle-down ti-caret hidden-xs"></i>
          </a>
          <ul class="dropdown-menu animated fadeInRight">
            <li>
              <a href="#">Profile</a>
            </li>
            <li>
              <a href="#">Settings</a>
            </li>
            <li>
              <a href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- /top header -->

    <section class="layout">
      <!-- sidebar menu -->
      <aside class="sidebar offscreen-left">
        <div class="close-btn-container visible-sm visible-xs hidden-m">
          <a href="javascript:void(0)" class="close-btn" onclick="closeNav()"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
        <!-- main navigation -->

        <%= render 'layouts/menu_admin' %>


      </aside>
      <section class="main-content">
        <div class="content-wrap">
          <div class="wrapper">
            <% flash.each do |key, value| %>

            <% if key = notice %>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <strong> Success: </strong> <%= value %>
            </div>
            <% else %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <strong> Warning: </strong> <%= value %>
            </div>
            <% end %>

            <% end %>

            <%= yield %>
          </div>
        </div>
      </section>
      <!-- /sidebar menu -->
    </section>
    <script type="text/javascript">
    function closeNav(){
      $("#mobile-nav").removeClass("move-left");
    }
  </script>
</body>
</html>
