<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title> SPORT CLINIC  </title>
  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Charm|Heebo:300,700,900" rel="stylesheet">

</head>

<body>
    <img src="<%= asset_url('Web 1280 – 2.png') %>" alt="" class="w-100 position-absolute" style="z-index:8;top:-3.5%;">
    <nav class="navbar navbar-expand-lg navbar-dark  sticky-top" style="" id="navbar">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
      <div class="container">
        <ul class="navbar-nav d-flex align-items-center w-100 justify-content-between">
          <li class="nav-item active mr-5">
            <a class="nav-link" href="#"><img src="<%= asset_url('logo alt 4 stroke white.png') %>" alt="" style="height:80px;"> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Our Doctor
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% Doctor.all.each do |x| %>
              <a class="dropdown-item" href="<%= doctor_path(x.id) %>"><%=x.name%></a>
              <%end%>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= consultation_page_path %>">Online Consultation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= latest_path %>">Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= about_path %>">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= contact_us_path %>">Contact Us</a>
          </li>
          <li class="nav-item ml-5">
            <a class="nav-link" style="font-size: 18px;font-weight: 300;font-family: 'Beyond The Mountains';" href="javascript:void(0)">Back To The Games</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <%= yield %>

  <footer class="">
    <div class="container">
      <hr>
      <div class="pt-4 pb-4">
        <p class="text-center mb-0 ">
          <br> Copyright ©
          <script>
            document.write(new Date().getFullYear())
          </script><a href="http://www.ramsayhealth.com/" target="_blank" class="footer-txt"> Ramsay Sime Darby Healthcare</a> - All Rights Reserved
        </p>
      </div>

    </div>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <%= javascript_include_tag 'application' %>



</body>

</html>
