<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title> SPORT CLINIC  </title>
  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Charm|Heebo:300,700,900" rel="stylesheet">

</head>

<body>
  <nav class="navbar  navbar-dark bg-dark   sticky-top scrolled"style="top:0;border-bottom:1px solid black;">
    <div class="row justify-content-between align-items-center w-100">
      <div class="col">
        <a class="navbar-brand w-100 text-center d-md-none d-sm-block" href="<%= root_path %>" id="navbar-brand">
          <img src="<%= asset_url('logo alt 4 stroke white.png') %>" alt="NOW! Jakarta" class=" m-logo">
        </a>
      </div>
      <div class="col text-right">
        <button class="navbar-toggler ml-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our Doctor
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Doctor.all.each do |x| %>
            <a class="dropdown-item" href="<%= doctor_path(x.id) %>"><%=x.name%></a>
            <%end%>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= consultation_page_path %>">Online Consultation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= registration_page_path %>">Online Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= latest_path %>">Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= about_path %>">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= contact_us_path %>">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <%= yield %>

  <footer class="">
    <div class="container">
      <hr>
      <div class="pt-4 pb-4">
        <p class="text-center mb-0 ">
          <br> Copyright ©
          <script>
            document.write(new Date().getFullYear())
          </script><a href="http://www.ramsayhealth.com/" target="_blank" class="footer-txt"> Ramsay Sime Darby Healthcare</a> - All Rights Reserved
        </p>
      </div>

    </div>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <%= javascript_include_tag 'application' %>



</body>

</html>
